a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, caption, canvas, center, cite, code,
dd, del, details, dfn, dialog, div, dl, dt, em, embed, fieldset, figcaption, figure, form, footer, header, hgroup, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav,object, ol, output, p, pre, q, ruby, s, samp, section, small, block, strike, strong, sub, summary, sup, tt, table, tbody, textarea, tfoot, thead, time, tr, th, td, u, ul, var, video  { 
  font-family: inherit; 
  font-size: 100%; 
  font-style: inherit; 
  white-space: normal;
  text-align: left; 
  margin: 0; 
  padding: 0; 
  border: 0; 
  outline: 0;
  font-family: "Roboto Slab", serif;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
}

li{
  list-style-type: none;
}

html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body{
  overflow-x:hidden;
}

input, textarea, form, button{
  -webkit-appearance: none;
  -moz-apperance: none;
}

img{
  max-width: 100%;
  display: block;
}

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

h1{
    padding: 10px 30px 10px 30px;
    margin: 0px auto;
    font-size: 40px;
    line-height: 100%;
    font-weight: 700;
    letter-spacing: 1px;
    max-width: 350px;
    line-height: 45px;
    @media (min-width: 768px){
        max-width: 450px;
        font-size: 45px;
        margin-bottom: 20px;
        line-height: 50px;
    }
    @media (min-width: 1200px){
        line-height: 65px;
        max-width: 550px;
        font-size: 55px;
    }
}

h2{
  font-size: 30px;
  margin-bottom: 20px;
  line-height: 100%;
  font-weight: 700;
  @media (min-width: 768px){
    font-size: 35px;
    margin-bottom: 40px;
  }
}

p{
  line-height: 140%;
  font-size: 18px;
  font-weight: 300;
}
@media (min-width: 1200px){
  .row-main{
    /*margin-left: 10%;
    margin-right: 10%;*/
    max-width: 1400px;
    margin: auto;
  }
}