*{
	box-sizing: border-box !important;
}
.fast-facts{
	position: fixed;
	bottom: 0;
	width: 250px;
	left: -250px;
	background: #eee;
	padding: 20px;
	z-index: 3;
	background: $light-blue;
	border-top: 1px solid rgba(255,255,255,.5);
	border-right: 1px solid rgba(255,255,255,.5);
	@include transition(all, 0.2s, ease-in-out);
	h4{
		margin-bottom: 10px;
		color: #fff;
	}
	p{
		font-size: 14px;
		color: #fff;
		span{
			font-weight: 400;
		}
	}
	.fi-info{
		position: absolute;
		display: block;
		right: -60px;
		bottom: 0;
		height: 60px;
		width: 60px;
		background: $light-blue;
		color: #fff;
		line-height: 60px;
		text-align: center;
		font-size: 40px;
		border-top: 1px solid rgba(255,255,255,.5);
		border-right: 1px solid rgba(255,255,255,.5);
	}
}

.fast-facts-show{
	left: 0;
}

.flex-center{
	@include flex-center;
}
.align-center{
  text-align: center;
}
.align-left{
	text-align: left;
}
.c-white{
	color: #fff;
}
.c-black{
	color: black;
}
.bg-blue{
	background: $light-blue;
}
.bg-pale-blue{
	background: $pale-blue;
}
.bg-black{
	background: rgb(48, 48, 48);
}
.uppercase{
	text-transform: uppercase;
}
.main-button{
	@include button;
}
.main-column{
	@include flex-center;
	@include paddings-columns;
}
.centered{
	text-align: center;
	margin: 0px auto;
}
.margin-auto{
	margin: 0px auto;
}
.no-padding{
	padding: 0px;
}
.border{
	height: 2px;
	width: 100%;
	background: #fff;
}
.text-small{
	font-size: 1.1em;
}
.small-title{
	font-size: 1.9em;
	color: #fff;
	text-shadow: 1px 1px 1px #555;
	padding: 0px;
	margin-bottom: 10px;
}
h1.page-title{
	color: #fff;
	text-shadow: 1px 1px 1px #555;
	text-align: center;
}

h1.page-b-title{
	font-size: 2.5em;
	color: black;
	text-align: left;
	padding: 0px;
	margin-left: 0px;
}

/* Start page */
.welcome{
	.main-column{
		@include paddings-columns;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
			-ms-flex-direction: column;
				flex-direction: column;
		a{
			margin-top: 30px;
			text-decoration: none;
			@media (min-width: 768px){
				margin-top: 50px;
			}
		}
		.content{
			padding-bottom: 20px;
			p{
				margin-bottom: 30px;
			}
			a#about-us-button{
				margin-bottom: 100px;
				margin-top: 20px;
			}
		}
	}

	@media (min-width: 768px){
		padding: 0px;
	}
	@media (min-width: 1200px){
		padding: 0px;
	}
}

/* Book meeting */
a#show-form{
	width: 100%;
	margin: 0px auto;
}
.book-meeting-link{
	font-size: 1.5em;
	margin-top: 20px;
	text-align: center;
	color: #fff;
	font-weight: 700;
	text-shadow: 1px 1px 1px #555;
	@include link(#fff);
	@media (min-width: 768px){
		font-size: 2em;
	}
}

.icon-border{
	@include flex-center;
	@include border-radius(50%);
	@include box-shadow;
	margin: 0px auto;
	width: 30vw;
	height: 30vw;
	background: white;
	max-width: 120px;
	max-height: 120px;
	i{
		color: $light-blue;
		font-size: 5em;
	}
	@media (min-width: 500px){
		max-width: 120px;
		max-height: 120px;
	}
	@media (min-width: 768px){
		max-width: 170px;
		max-height: 170px;
		i{
			font-size: 6em;
		}
	}
	@media (min-width: 1200px){
		max-width: 190px;
		max-height: 190px;
		i{
		font-size: 7em;
		}
	}
}

.image-border{
	@include border-radius(50%);
	@include box-shadow;
	width: 250px;
	height: 250px;
	border: 5px solid white;
	background-repeat: no-repeat; 
	background-size: cover; 
	background-position: center;
	i{
		color: $light-blue;
		font-size: 5em;
	}
	@media (min-width: 768px){
		width: 30vw;
		height: 30vw;
		max-width: 200px;
		max-height: 200px;
	}
}
/* Book meeting collapse */


/* Flex slider */
.flexslider{
	margin: 0px;
	border: none;
	-webkit-box-shadow: none;
	        box-shadow: none;
	border-radius: none;
	height: 100%;
	max-height: 450px;
	background: #eee;
	.table-cell{
		padding-bottom: 80px;
		margin-top: 40px;
		@media (min-width: 695px){
			padding-bottom: 40px;
		}
	}
	li{
		position: relative;
		hgroup{
			h1{
				margin-bottom: 20px;
				margin-top: 20px;
			}
		}
	}
	@media (min-width: 768px){
		max-height: 500px;
	}
	@media (min-width: 1200px){
		max-height: 550px;
	}
}

img#slider-icon{
	max-width: 70px; 
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: -30px;
	@media (min-width: 768px){
		margin-bottom: -40px;
		max-width: 85px;
		margin-left: 30px;
		margin-right: 30px;
	}
	@media (min-width: 992px){
		max-width: 100px;
	}
}
.header-border{
	display: inline-block;
	width: 30%;
	max-width: 150px;
}
/* Flex slider collapse */
/* Start page collapse */

/* Page B */
.page-b{
	.content{
		padding-top: 20px;
		p{
			margin-bottom: 20px;
		}
	}
}


/* Contact */
.contact-content{
	padding: 30px;
	h3{
		font-size: 1.5em;
	}
	ul.contact-info{
		padding: 0px;
		li{
			margin-top: 20px;
			margin-bottom: 20px;
			p{
				font-size: 1em;
			}
			label{
				font-weight: 700;
			}
			a{
				color: black;
				//font-size: 1em;
				@include link($light-blue);
				font-weight: 400;
			}
		}
	}
}

/* Co-workers */
.container-coworkers{
	padding: 0px 0px 60px 0px;
	h2{
		padding: 20px;
	}
	.card{
		border-top: 10px solid $light-blue;
		margin: 20px;
		@include box-shadow;
		.profile-info-wrapper{
			text-align: center;
			padding: 15px;
			line-height: 1.3;
			p{
				font-size: 1em;
			}
		}
		h4{
			font-size: 1.2em;
		}
		hr{
			border-color: rgb(203, 203, 203);
			border-style: solid;
			margin: 0px;
			border-width: 0.5px;
		}
		a{
			color: black;
			@include link($light-blue);
		}
	}
	@media(min-width: 768px){
		padding-top: 40px;
	}
}

.contact-wrapper{
	padding: 10px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: 100%;
	text-align: center;
	p{
		text-align: center;
	}
	a{
		color: black;
		@include link($light-blue);
	}
}
.contact-column{
	max-height: 400px;
	padding: 30px;
	@include flex-center;
}


/* Sitemap */
.sitemap-wrapper{
	border-bottom: 1px solid black;
	li{
		margin: auto;
		margin-bottom: 5px;
		a{
			display: inline-block;
			color: #000;
			@include link($light-blue);
		}
	}
	@media (min-width: 640px){
		ul.sitemap-list{
			margin: auto;
			margin-top: 20px;
			margin-bottom: 20px;
		}
	}
}
.flex-direction-nav{
	position: absolute;
	top: 50%;
	width: 100%;
	margin-top: -30px;
}
ol.flex-control-nav{
	bottom: 55px;
	a.flex-active{
		color: $light-blue;
	}
	@media (min-width: 695px){
		bottom: 45px; 
	}
	@media (min-width: 768px){
		bottom: 50px;
	}
	@media (min-width: 1200px){
		bottom: 75px;
	}
}

.page-banner{
	height: 100%;
	max-height: 300px;
	.table-cell{
		padding-bottom: 0px;
	}
	@media (min-width: 640px){
		margin-top: 40px;
	}
	@media (min-width: 768px){
		max-height: 400px;
	}
}

.table{
	display: table;
	width: 100%;
	height: 100%;
	.table-cell{
		display: table-cell;
		vertical-align: middle;
	}
}
.services{
	@include paddings-columns;
	.columns{
		.inner{
			text-align: center;
			.image-border{
				margin: 0px auto;
			}
		}
		.text-container{
			padding: 30px 20px;
			position: relative;
			p{
				text-align: center;
				max-width: 400px;
			}
			h4{
				text-align: center;
				font-size: 20px;
				margin-bottom: 20px;
			}
			a{
				display: inline-block;
				color: #000;
				margin-top: 20px;
				@include link($light-blue);
			}
		}
	}
}

.services2{
	@include paddings-columns;
	.service-links{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		@media (max-width: 768px){
			margin-top: 30px;
		}
		a{	
			color: black;
			display: block;
			@include link($light-blue);
			i{
				font-size: 1.2em;
			}
		}
	}
	@media (min-width: 768px){
		.service-links{
			padding: 20px 20px 30px 60px;
			border-left: 1px solid black;
		}
		.service-list{
			padding: 0px 60px;
		}
	}
	@media (min-width: 1200px){
		.service-links{
			padding: 20px 120px;
		}
		.service-list{
			padding: 0px 120px;
		}
	}
}

.punchline{
	padding: 150px 0;
	h2{
		margin: 0;
		margin-left: 10%;
		margin-right: 10%;
		color: #fff;
		font-size: 40px;
		font-weight: 500;
		line-height: 130%;
	}
}
.bg-pale-blue{
	background: $pale-blue;
}
.partners, .clients{
	@include paddings-columns;
	.partner-container, .client-container{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		@media (min-width: 550px){
			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
			    -ms-flex-direction: row;
			        flex-direction: row;
			-ms-flex-wrap: wrap;
			    flex-wrap: wrap;
		}
		.client-wrapper{
			-ms-flex-preferred-size: 100%;
			    flex-basis: 100%;
			@include flex-center;
			@media (min-width: 550px){
				-webkit-box-pack: justify;
				    -ms-flex-pack: justify;
				        justify-content: space-between;
				-ms-flex-preferred-size: 50%;
				    flex-basis: 50%;
			}
			@media(min-width: 768px){
				-ms-flex-preferred-size: 25%;
				    flex-basis: 25%;
			}
			img{
				margin: 0px auto;
				max-width: 150px;
				max-height: 80px;
			}
			img.partner-logo{
				max-height: 120px;
			}
			img.client-logo{
				padding-top: 15px;
				padding-bottom: 15px;
			}
		}
	}
}

.news{
	background: $light-blue;
	padding: 80px 0;
	text-align: center;
	h2{
		color: #fff;
	}
	.post{
		a{
			padding: 20px;
			display: block;
			width: 100%;
			color: #000;
			background: #fff;
			@include border-radius(10px);
			@include transition(all, 0.2s, ease-in-out);
			*{
				margin-bottom: 20px;
			}
			h4{
				font-size: 20px;
				margin-bottom: 10px;
			}
			.date{
				font-size: 14px;
				span{
					font-style: italic;
				}
			}
		}
	}
	.show-all{
		display: inline-block;
		margin-top: 80px;
		height: 60px;
		padding: 0 40px;
		line-height: 60px;
		background: #fff;
		color: #000;
		@include border-radius(30px);
		font-size: 20px;
		font-weight: 300;
	}
}

.news-container{
	.post{
		margin-bottom: 40px;
	}
}

.single-post{
	padding-top: 80px;
	padding-bottom: 80px;
	h3{
		font-size: 30px;
		margin-bottom: 10px;
		text-align: center;
	}
	img{
		display: block;
		width: auto;
		max-width: 100%;
		margin: 0 auto;
		margin-bottom: 15px;
	}
	p{
		margin-bottom: 15px;
	}
	.date{
		color: $light-blue;
		margin-bottom: 20px;
		text-align: center;
	}
}

.contact-info{
	margin-top: 40px;
	margin-bottom: 20px;
	form{
		width: 100%;
		p{
			overflow: hidden;
		}
		input{
			@include border-radius(3px);
			display: block;
			width: 100%;
			margin-bottom: 20px;
			padding: 0 20px;
			height: 50px;
			line-height: 50px;
			background: #fff;
			overflow: hidden;
			border: 1px solid #ccc;
			font-size: 16px;
			color: #000;
			font-weight: 300;
		}
		textarea{
			min-height: 150px;
			width: 100%;
			min-width: 100%;
			background: #fff;
			padding: 15px 20px;
			border: 1px solid #ccc;
			margin-bottom: 20px;
			font-size: 16px;
			color: #000;
			font-weight: 300;
			resize: none;
		}
		input, textarea{
			&:focus{
				border: 1px solid $light-blue;
				outline: none;
			}
		}
		@include placeholder{
			font-family: 'Roboto Slab', serif;
			font-size: 16px;
			color: #000;
			font-weight: 400;
		}
		input[type=submit]{
			@include border-radius(3px);
			width: 150px;
			display: inline-block;
			background: $light-blue;
			color: #fff;
			border: 0;
			font-size: 16px;
			font-family: 'Roboto Slab', serif;
			margin: 0;
			font-weight: 300;
		}
	}
	.columns:last-child{
		h4{
			margin-bottom: 5px;
			margin-top: 20px;
		}
		h4:first-child{
			margin-top: 0;
		}
	}
}

.page-content{
	@include paddings-columns;
	h2,h3,h4{
		text-align: center !important;
	}
	.container{
		padding: 80px 0;
		.columns{
			text-align: center;
		}
		h2{
			margin-bottom: 0;
		}
		p{
			margin-top: 40px;
		}
		ul{
			padding-left: 15px;
			li{
				display: block;
				font-weight: 300;
				margin-top: 20px;
				font-size: 18px;
				&:before{
					color: $light-blue;
					content: '\f126';
					font-family: "foundation-icons";
					margin-right: 10px;
				}
			}
		}
		ul:last-child{
			margin: 15px 0 0 0;
		}
	}
}

.about{
	h2,h3,h4,p{
		text-align: left !important;
	}
	.container{
		padding: 80px 0;
	}
	.post-container{
		width: 100%;
		overflow: hidden;
		position: relative;
	}
	.bg{
		position: absolute;
		left: 60%;
		top: 0;
		height: 100%;
		width: 40%;
	}
	.text-container{
		width: 58%;
	}
	.post-container:nth-child(odd){
		background: $pale-blue;
		.bg{
			left: 0;
		}
		.text-container{
			float: right;
		}
	}
}

.form-container{
	display: none;
	position: fixed;
	background: rgba(0,0,0,.3);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	.inner{
		position: relative;
		width: 60%;
		margin: 0 auto;
		a{
			position: absolute;
			right: -25px;
			top: -25px;
			display: block;
			color: #fff;
			font-size: 30px;
			@include border-radius(50%);
			height: 50px;
			width: 50px;
			background: $light-blue;
			z-index: 2;
			line-height: 54px;
			text-align: center;
		}
	}
	form{
		width: 100%;
		background: #fff;
		padding: 20px;
		-webkit-box-shadow: 0 0 20px rgba(0,0,0,.2);
		box-shadow: 0 0 20px rgba(0,0,0,.2);
		p{
			overflow: hidden;
		}
		input{
			display: block;
			width: 100%;
			margin-bottom: 20px;
			padding: 0 20px;
			height: 50px;
			line-height: 50px;
			background: #fff;
			overflow: hidden;
			border: 1px solid #ccc;
			font-size: 16px;
			color: #000;
			font-weight: 300;
		}
		input[type=submit]{
			@include border-radius(3px);
		}
		textarea{
			min-height: 150px;
			width: 100%;
			min-width: 100%;
			background: #fff;
			padding: 15px 20px;
			border: 1px solid #ccc;
			margin-bottom: 20px;
			font-size: 16px;
			color: #000;
			font-weight: 300;
			resize: none;
		}
		input, textarea{
			&:focus{
				border: 1px solid $light-blue;
				outline: none;
			}
		}
		@include placeholder{
			font-family: 'Roboto Slab', serif;
			font-size: 16px;
			color: #000;
			font-weight: 300;
		}
		input[type=submit]{
			width: 150px;
			display: inline-block;
			background: $light-blue;
			color: #fff;
			border: 0;
			font-size: 16px;
			font-family: 'Roboto Slab', serif;
			margin: 0;
			font-weight: 300;
			@include border-radius(3px);
		}
	}
}
.news-links{
	overflow: hidden;
	background: $pale-blue;
	a{
		text-decoration: none;
		color: black;
		display: block;
		float: left;
		width: 50%;
		height: 100px;
		line-height: 100px;
		text-align: center;
		@include link($light-blue);
	}
	a:first-child{
		border-top-right-radius: 30px;
	}
	a:last-child{
		border-top-left-radius: 30px;
	}
}

.contact-persons{
	background: #f1faff;
	padding: 80px 0 40px 0;
	.columns{
		padding: 40px 0;
	}
	img{
		@include border-radius(50%);
		width: 70%;
		margin: 0 auto;
		display: block;
	}
	h2{
		margin-bottom: 40px;
	}
	p{
		text-align: center;
		span{
			display: block;
		}
		.name{
			font-weight: 500;
			padding: 10px 0 5px 0;
		}
		.title{
			font-style: italic;
			&:after{
				display: block;
				height: 2px;
				background: $light-blue;
				width: 40px;
				content: '';
				margin: 0 auto;
				margin-top: 5px;
				margin-bottom: 5px;
			}
		}
	}
}

.news-links{
	background: #fff;
	a{
		background: #f1faff;
		&:hover{
			background: $pale-blue;
		}
	}
}
.white{
	background: #fff;
}

.lightblue{
	background: $pale-blue;
}

.qualitygoals{
	margin-top: 80px;
}

.under-service{
	text-align: left;
	&:before{
		//color: $light-blue;
		content: '\f126';
		font-family: "foundation-icons";
		margin-right: 10px;
	}
}

.welcome-wrapper{
	overflow: hidden;
}

@media all and (max-width: 1024px) {


}

@media all and (max-width: 640px) {

	.services{
		.columns{
			margin-bottom: 40px;
		}
		.columns:last-child{
			margin-bottom: 0;
		}
	}
	
	.punchline{
		padding: 80px 0;
		h2{
			font-size: 30px;
		}
	}

	.news{
		.post{
			margin-bottom: 40px;
			a{
				img{
					margin: 0 auto;
					margin-bottom: 20px;
				}
			}
		}
	}

	.contact-info{
		form{
			margin-bottom: 40px;
		}
	}

	.form-container{
		.inner{
			width: 80%;
			form{
				input{
					height: 40px;
					line-height: 40px;
					margin-bottom: 10px;
					padding: 0 10px;
					font-size: 14px;
				}
				textarea{
					height: 100px;
					padding: 10px;
					margin-bottom: 10px;
					font-size: 14px;
				}
				@include placeholder{
					font-size: 14px;
				}
			}
		}
	}

	.news-links{
		a{
			width: 100%;
		}
		a:first-child{
			border-top-right-radius: 0px;
		}
		a:last-child{
			border-top-left-radius: 0px;
		}
	}
}

@media all and (max-width: 400px) {

	.flex-control-nav{
		bottom: 20px;
	}
}

@media all and (min-width: 1025px) {
	.news{
		.post{
			a{
				&:hover{
					@include transform(scale(1.025));
					-webkit-box-shadow: 0 0 20px rgba(0,0,0,.2);
					box-shadow: 0 0 20px rgba(0,0,0,.2);
				}
			}
		}
	}
}