footer{
	background: $grey;
	-webkit-box-shadow: inset 0 10px 45px -25px rgba(0,0,0,.5);
	        box-shadow: inset 0 10px 45px -25px rgba(0,0,0,.5);
	line-height: 20px;
	padding: 0px 0px 0px 0px;
	p{
		text-align: left;
		font-size: 1em;
		letter-spacing: 1px;
	}
	a#to-top{
		font-size: 1.1em;
		color: black;
		&:hover{
			@include hover-enlarge;
		}
	}
	.copyright{
		color: white;
		padding: 10px 80px 10px 80px;		
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
				justify-content: space-between;
		i{
			font-size: 1.5em;
			&:hover{
				@include hover-enlarge;
			}
		}
	}
	.container-footer{
		margin: 0px auto;
	}
	ul{
		padding: 0px;
		li{
			line-height: 25px;
			a.footer-link{
				color: white;
				letter-spacing: 1px;
				cursor: pointer;
				font-size: 0.9em;
				font-weight: 400;
				&:hover{
					text-decoration: none;
					color: black;
					@include transition(color, .2s, ease-in-out);
				}
			}
		}
	}
	.container-logo{
		border-top: 1px solid #fff;
		border-bottom: 1px solid #fff;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		.wrapper-logo{
			text-align: center;
			-ms-flex-preferred-size: 33%;
			    flex-basis: 33%;
			img{
				max-width: 80px;
			}
			@media (min-width: 640px){
				img{
					max-width: 100px;
				}
			}
		}
		@media (min-width: 1200px){
			border-top: none;
			border-bottom: none;
		}
	}
	.wpcf7-response-output {
		display: none !important;
	}
	#wpcf7-f632-o2{
		form{
			label{
				color: white;
			}
			input{
				margin-top: 10px;
				font-family: 'Roboto Slab', serif;
				font-size: 1em;
			}
			input[type=email]{
				padding: 10px;
				width: 50%;
				border-style: none;
				border-style: solid;
				border-color: white;
				background: transparent;
				@include border-radius(3px);
				&:active,
				&:focus,
				&:enabled{
					background: transparent;
				}
				@media (min-width: 1200px){
					width: 100%;
				}
			}
			input[type=submit]{
				@include button;
				background: black;
				border-style: none;
			}
		}
	}
	.footer-column{
		@include paddings-columns;
		@media (min-width: 1200px){
			padding: 30px;
		}
	}
	.footer-sub-column{
		margin-bottom: 10px;
		margin-top: 10px;
	}
}