/*
meta.foundation-version {
  font-family: "/5.3.0/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0em; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:40.063em)/";
  width: 40.063em; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:64.063em)/";
  width: 64.063em; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:90.063em)/";
  width: 90.063em; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:120.063em)/";
  width: 120.063em; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

html, body {
  height: 100%; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  font-size: 100%; }

body {
  background: white;
  color: #222222;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  position: relative;
  cursor: default; }

a:hover {
  cursor: pointer; }

img {
  max-width: 100%;
  height: auto; }

img {
  -ms-interpolation-mode: bicubic; }

#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object {
  max-width: none !important; }

.left {
  float: left !important; }

.right {
  float: right !important; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }
.clearfix:after {
  clear: both; }

.hide {
  display: none; }

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

img {
  display: inline-block;
  vertical-align: middle; }

textarea {
  height: auto;
  min-height: 50px; }

select {
  width: 100%; }

.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; 
}
  /*.row:before, .row:after {
    display: inline-block;
    content: " ";
    display: table; }*//*
  .row:after {
    clear: both; }
  .row.collapse > .column,
  .row.collapse > .columns {
    padding-left: 0;
    padding-right: 0; }
  .row.collapse .row {
    margin-left: 0;
    margin-right: 0; }
  .row .row {
    width: auto;
    margin-left: -0.9375em;
    margin-right: -0.9375em;
    margin-top: 0;
    margin-bottom: 0;
    max-width: none; }
    .row .row:before, .row .row:after {
      content: " ";
      display: table; }
    .row .row:after {
      clear: both; }
    .row .row.collapse {
      width: auto;
      margin: 0;
      max-width: none; }
      .row .row.collapse:before, .row .row.collapse:after {
        content: " ";
        display: table; }
      .row .row.collapse:after {
        clear: both; }
        
        .column,
        .columns {
          padding-left: 0.9375em;
          padding-right: 0.9375em;
          width: 100%;
          float: left; }
        
        [class*="column"] + [class*="column"]:last-child {
          float: right; }
        
        [class*="column"] + [class*="column"].end {
          float: left; }
        
        @media only screen {
          .small-push-0 {
            position: relative;
            left: 0%;
            right: auto; }
        
          .small-pull-0 {
            position: relative;
            right: 0%;
            left: auto; }
        
          .small-push-1 {
            position: relative;
            left: 8.33333%;
            right: auto; }
        
          .small-pull-1 {
            position: relative;
            right: 8.33333%;
            left: auto; }
        
          .small-push-2 {
            position: relative;
            left: 16.66667%;
            right: auto; }
        
          .small-pull-2 {
            position: relative;
            right: 16.66667%;
            left: auto; }
        
          .small-push-3 {
            position: relative;
            left: 25%;
            right: auto; }
        
          .small-pull-3 {
            position: relative;
            right: 25%;
            left: auto; }
        
          .small-push-4 {
            position: relative;
            left: 33.33333%;
            right: auto; }
        
          .small-pull-4 {
            position: relative;
            right: 33.33333%;
            left: auto; }
        
          .small-push-5 {
            position: relative;
            left: 41.66667%;
            right: auto; }
        
          .small-pull-5 {
            position: relative;
            right: 41.66667%;
            left: auto; }
        
          .small-push-6 {
            position: relative;
            left: 50%;
            right: auto; }
        
          .small-pull-6 {
            position: relative;
            right: 50%;
            left: auto; }
        
          .small-push-7 {
            position: relative;
            left: 58.33333%;
            right: auto; }
        
          .small-pull-7 {
            position: relative;
            right: 58.33333%;
            left: auto; }
        
          .small-push-8 {
            position: relative;
            left: 66.66667%;
            right: auto; }
        
          .small-pull-8 {
            position: relative;
            right: 66.66667%;
            left: auto; }
        
          .small-push-9 {
            position: relative;
            left: 75%;
            right: auto; }
        
          .small-pull-9 {
            position: relative;
            right: 75%;
            left: auto; }
        
          .small-push-10 {
            position: relative;
            left: 83.33333%;
            right: auto; }
        
          .small-pull-10 {
            position: relative;
            right: 83.33333%;
            left: auto; }
        
          .small-push-11 {
            position: relative;
            left: 91.66667%;
            right: auto; }
        
          .small-pull-11 {
            position: relative;
            right: 91.66667%;
            left: auto; }
        
          .column,
          .columns {
            position: relative;
            padding-left: 0.9375em;
            padding-right: 0.9375em;
            float: left; }
        
          .small-1 {
            width: 8.33333%; }
        
          .small-2 {
            width: 16.66667%; }
        
          .small-3 {
            width: 25%; }
        
          .small-4 {
            width: 33.33333%; }
        
          .small-5 {
            width: 41.66667%; }
        
          .small-6 {
            width: 50%; }
        
          .small-7 {
            width: 58.33333%; }
        
          .small-8 {
            width: 66.66667%; }
        
          .small-9 {
            width: 75%; }
        
          .small-10 {
            width: 83.33333%; }
        
          .small-11 {
            width: 91.66667%; }
        
          .small-12 {
            width: 100%; }
        
          .small-offset-0 {
            margin-left: 0% !important; }
        
          .small-offset-1 {
            margin-left: 8.33333% !important; }
        
          .small-offset-2 {
            margin-left: 16.66667% !important; }
        
          .small-offset-3 {
            margin-left: 25% !important; }
        
          .small-offset-4 {
            margin-left: 33.33333% !important; }
        
          .small-offset-5 {
            margin-left: 41.66667% !important; }
        
          .small-offset-6 {
            margin-left: 50% !important; }
        
          .small-offset-7 {
            margin-left: 58.33333% !important; }
        
          .small-offset-8 {
            margin-left: 66.66667% !important; }
        
          .small-offset-9 {
            margin-left: 75% !important; }
        
          .small-offset-10 {
            margin-left: 83.33333% !important; }
        
          .small-offset-11 {
            margin-left: 91.66667% !important; }
        
          .small-reset-order {
            margin-left: 0;
            margin-right: 0;
            left: auto;
            right: auto;
            float: left; }
        
          .column.small-centered,
          .columns.small-centered {
            margin-left: auto;
            margin-right: auto;
            float: none; }
        
          .column.small-uncentered,
          .columns.small-uncentered {
            margin-left: 0;
            margin-right: 0;
            float: left; }
        
          .column.small-centered:last-child,
          .columns.small-centered:last-child {
            float: none; }
        
          .column.small-uncentered:last-child,
          .columns.small-uncentered:last-child {
            float: left; }
        
          .column.small-uncentered.opposite,
          .columns.small-uncentered.opposite {
            float: right; } }
        @media only screen and (min-width: 40.063em) {
          .medium-push-0 {
            position: relative;
            left: 0%;
            right: auto; }
        
          .medium-pull-0 {
            position: relative;
            right: 0%;
            left: auto; }
        
          .medium-push-1 {
            position: relative;
            left: 8.33333%;
            right: auto; }
        
          .medium-pull-1 {
            position: relative;
            right: 8.33333%;
            left: auto; }
        
          .medium-push-2 {
            position: relative;
            left: 16.66667%;
            right: auto; }
        
          .medium-pull-2 {
            position: relative;
            right: 16.66667%;
            left: auto; }
        
          .medium-push-3 {
            position: relative;
            left: 25%;
            right: auto; }
        
          .medium-pull-3 {
            position: relative;
            right: 25%;
            left: auto; }
        
          .medium-push-4 {
            position: relative;
            left: 33.33333%;
            right: auto; }
        
          .medium-pull-4 {
            position: relative;
            right: 33.33333%;
            left: auto; }
        
          .medium-push-5 {
            position: relative;
            left: 41.66667%;
            right: auto; }
        
          .medium-pull-5 {
            position: relative;
            right: 41.66667%;
            left: auto; }
        
          .medium-push-6 {
            position: relative;
            left: 50%;
            right: auto; }
        
          .medium-pull-6 {
            position: relative;
            right: 50%;
            left: auto; }
        
          .medium-push-7 {
            position: relative;
            left: 58.33333%;
            right: auto; }
        
          .medium-pull-7 {
            position: relative;
            right: 58.33333%;
            left: auto; }
        
          .medium-push-8 {
            position: relative;
            left: 66.66667%;
            right: auto; }
        
          .medium-pull-8 {
            position: relative;
            right: 66.66667%;
            left: auto; }
        
          .medium-push-9 {
            position: relative;
            left: 75%;
            right: auto; }
        
          .medium-pull-9 {
            position: relative;
            right: 75%;
            left: auto; }
        
          .medium-push-10 {
            position: relative;
            left: 83.33333%;
            right: auto; }
        
          .medium-pull-10 {
            position: relative;
            right: 83.33333%;
            left: auto; }
        
          .medium-push-11 {
            position: relative;
            left: 91.66667%;
            right: auto; }
        
          .medium-pull-11 {
            position: relative;
            right: 91.66667%;
            left: auto; }
        
          .column,
          .columns {
            position: relative;
            padding-left: 0.9375em;
            padding-right: 0.9375em;
            float: left; }
        
          .medium-1 {
            width: 8.33333%; }
        
          .medium-2 {
            width: 16.66667%; }
        
          .medium-3 {
            width: 25%; }
        
          .medium-4 {
            width: 33.33333%; }
        
          .medium-5 {
            width: 41.66667%; }
        
          .medium-6 {
            width: 50%; }
        
          .medium-7 {
            width: 58.33333%; }
        
          .medium-8 {
            width: 66.66667%; }
        
          .medium-9 {
            width: 75%; }
        
          .medium-10 {
            width: 83.33333%; }
        
          .medium-11 {
            width: 91.66667%; }
        
          .medium-12 {
            width: 100%; }
        
          .medium-offset-0 {
            margin-left: 0% !important; }
        
          .medium-offset-1 {
            margin-left: 8.33333% !important; }
        
          .medium-offset-2 {
            margin-left: 16.66667% !important; }
        
          .medium-offset-3 {
            margin-left: 25% !important; }
        
          .medium-offset-4 {
            margin-left: 33.33333% !important; }
        
          .medium-offset-5 {
            margin-left: 41.66667% !important; }
        
          .medium-offset-6 {
            margin-left: 50% !important; }
        
          .medium-offset-7 {
            margin-left: 58.33333% !important; }
        
          .medium-offset-8 {
            margin-left: 66.66667% !important; }
        
          .medium-offset-9 {
            margin-left: 75% !important; }
        
          .medium-offset-10 {
            margin-left: 83.33333% !important; }
        
          .medium-offset-11 {
            margin-left: 91.66667% !important; }
        
          .medium-reset-order {
            margin-left: 0;
            margin-right: 0;
            left: auto;
            right: auto;
            float: left; }
        
          .column.medium-centered,
          .columns.medium-centered {
            margin-left: auto;
            margin-right: auto;
            float: none; }
        
          .column.medium-uncentered,
          .columns.medium-uncentered {
            margin-left: 0;
            margin-right: 0;
            float: left; }
        
          .column.medium-centered:last-child,
          .columns.medium-centered:last-child {
            float: none; }
        
          .column.medium-uncentered:last-child,
          .columns.medium-uncentered:last-child {
            float: left; }
        
          .column.medium-uncentered.opposite,
          .columns.medium-uncentered.opposite {
            float: right; }
        
          .push-0 {
            position: relative;
            left: 0%;
            right: auto; }
        
          .pull-0 {
            position: relative;
            right: 0%;
            left: auto; }
        
          .push-1 {
            position: relative;
            left: 8.33333%;
            right: auto; }
        
          .pull-1 {
            position: relative;
            right: 8.33333%;
            left: auto; }
        
          .push-2 {
            position: relative;
            left: 16.66667%;
            right: auto; }
        
          .pull-2 {
            position: relative;
            right: 16.66667%;
            left: auto; }
        
          .push-3 {
            position: relative;
            left: 25%;
            right: auto; }
        
          .pull-3 {
            position: relative;
            right: 25%;
            left: auto; }
        
          .push-4 {
            position: relative;
            left: 33.33333%;
            right: auto; }
        
          .pull-4 {
            position: relative;
            right: 33.33333%;
            left: auto; }
        
          .push-5 {
            position: relative;
            left: 41.66667%;
            right: auto; }
        
          .pull-5 {
            position: relative;
            right: 41.66667%;
            left: auto; }
        
          .push-6 {
            position: relative;
            left: 50%;
            right: auto; }
        
          .pull-6 {
            position: relative;
            right: 50%;
            left: auto; }
        
          .push-7 {
            position: relative;
            left: 58.33333%;
            right: auto; }
        
          .pull-7 {
            position: relative;
            right: 58.33333%;
            left: auto; }
        
          .push-8 {
            position: relative;
            left: 66.66667%;
            right: auto; }
        
          .pull-8 {
            position: relative;
            right: 66.66667%;
            left: auto; }
        
          .push-9 {
            position: relative;
            left: 75%;
            right: auto; }
        
          .pull-9 {
            position: relative;
            right: 75%;
            left: auto; }
        
          .push-10 {
            position: relative;
            left: 83.33333%;
            right: auto; }
        
          .pull-10 {
            position: relative;
            right: 83.33333%;
            left: auto; }
        
          .push-11 {
            position: relative;
            left: 91.66667%;
            right: auto; }
        
          .pull-11 {
            position: relative;
            right: 91.66667%;
            left: auto; } }
        @media only screen and (min-width: 64.063em) {
          .large-push-0 {
            position: relative;
            left: 0%;
            right: auto; }
        
          .large-pull-0 {
            position: relative;
            right: 0%;
            left: auto; }
        
          .large-push-1 {
            position: relative;
            left: 8.33333%;
            right: auto; }
        
          .large-pull-1 {
            position: relative;
            right: 8.33333%;
            left: auto; }
        
          .large-push-2 {
            position: relative;
            left: 16.66667%;
            right: auto; }
        
          .large-pull-2 {
            position: relative;
            right: 16.66667%;
            left: auto; }
        
          .large-push-3 {
            position: relative;
            left: 25%;
            right: auto; }
        
          .large-pull-3 {
            position: relative;
            right: 25%;
            left: auto; }
        
          .large-push-4 {
            position: relative;
            left: 33.33333%;
            right: auto; }
        
          .large-pull-4 {
            position: relative;
            right: 33.33333%;
            left: auto; }
        
          .large-push-5 {
            position: relative;
            left: 41.66667%;
            right: auto; }
        
          .large-pull-5 {
            position: relative;
            right: 41.66667%;
            left: auto; }
        
          .large-push-6 {
            position: relative;
            left: 50%;
            right: auto; }
        
          .large-pull-6 {
            position: relative;
            right: 50%;
            left: auto; }
        
          .large-push-7 {
            position: relative;
            left: 58.33333%;
            right: auto; }
        
          .large-pull-7 {
            position: relative;
            right: 58.33333%;
            left: auto; }
        
          .large-push-8 {
            position: relative;
            left: 66.66667%;
            right: auto; }
        
          .large-pull-8 {
            position: relative;
            right: 66.66667%;
            left: auto; }
        
          .large-push-9 {
            position: relative;
            left: 75%;
            right: auto; }
        
          .large-pull-9 {
            position: relative;
            right: 75%;
            left: auto; }
        
          .large-push-10 {
            position: relative;
            left: 83.33333%;
            right: auto; }
        
          .large-pull-10 {
            position: relative;
            right: 83.33333%;
            left: auto; }
        
          .large-push-11 {
            position: relative;
            left: 91.66667%;
            right: auto; }
        
          .large-pull-11 {
            position: relative;
            right: 91.66667%;
            left: auto; }
        
          .column,
          .columns {
            position: relative;
            padding-left: 0.9375em;
            padding-right: 0.9375em;
            float: left; }
        
          .large-1 {
            width: 8.33333%; }
        
          .large-2 {
            width: 16.66667%; }
        
          .large-3 {
            width: 25%; }
        
          .large-4 {
            width: 33.33333%; }
        
          .large-5 {
            width: 41.66667%; }
        
          .large-6 {
            width: 50%; }
        
          .large-7 {
            width: 58.33333%; }
        
          .large-8 {
            width: 66.66667%; }
        
          .large-9 {
            width: 75%; }
        
          .large-10 {
            width: 83.33333%; }
        
          .large-11 {
            width: 91.66667%; }
        
          .large-12 {
            width: 100%; }
        
          .large-offset-0 {
            margin-left: 0% !important; }
        
          .large-offset-1 {
            margin-left: 8.33333% !important; }
        
          .large-offset-2 {
            margin-left: 16.66667% !important; }
        
          .large-offset-3 {
            margin-left: 25% !important; }
        
          .large-offset-4 {
            margin-left: 33.33333% !important; }
        
          .large-offset-5 {
            margin-left: 41.66667% !important; }
        
          .large-offset-6 {
            margin-left: 50% !important; }
        
          .large-offset-7 {
            margin-left: 58.33333% !important; }
        
          .large-offset-8 {
            margin-left: 66.66667% !important; }
        
          .large-offset-9 {
            margin-left: 75% !important; }
        
          .large-offset-10 {
            margin-left: 83.33333% !important; }
        
          .large-offset-11 {
            margin-left: 91.66667% !important; }
        
          .large-reset-order {
            margin-left: 0;
            margin-right: 0;
            left: auto;
            right: auto;
            float: left; }
        
          .column.large-centered,
          .columns.large-centered {
            margin-left: auto;
            margin-right: auto;
            float: none; }
        
          .column.large-uncentered,
          .columns.large-uncentered {
            margin-left: 0;
            margin-right: 0;
            float: left; }
        
          .column.large-centered:last-child,
          .columns.large-centered:last-child {
            float: none; }
        
          .column.large-uncentered:last-child,
          .columns.large-uncentered:last-child {
            float: left; }
        
          .column.large-uncentered.opposite,
          .columns.large-uncentered.opposite {
            float: right; }
        
          .push-0 {
            position: relative;
            left: 0%;
            right: auto; }
        
          .pull-0 {
            position: relative;
            right: 0%;
            left: auto; }
        
          .push-1 {
            position: relative;
            left: 8.33333%;
            right: auto; }
        
          .pull-1 {
            position: relative;
            right: 8.33333%;
            left: auto; }
        
          .push-2 {
            position: relative;
            left: 16.66667%;
            right: auto; }
        
          .pull-2 {
            position: relative;
            right: 16.66667%;
            left: auto; }
        
          .push-3 {
            position: relative;
            left: 25%;
            right: auto; }
        
          .pull-3 {
            position: relative;
            right: 25%;
            left: auto; }
        
          .push-4 {
            position: relative;
            left: 33.33333%;
            right: auto; }
        
          .pull-4 {
            position: relative;
            right: 33.33333%;
            left: auto; }
        
          .push-5 {
            position: relative;
            left: 41.66667%;
            right: auto; }
        
          .pull-5 {
            position: relative;
            right: 41.66667%;
            left: auto; }
        
          .push-6 {
            position: relative;
            left: 50%;
            right: auto; }
        
          .pull-6 {
            position: relative;
            right: 50%;
            left: auto; }
        
          .push-7 {
            position: relative;
            left: 58.33333%;
            right: auto; }
        
          .pull-7 {
            position: relative;
            right: 58.33333%;
            left: auto; }
        
          .push-8 {
            position: relative;
            left: 66.66667%;
            right: auto; }
        
          .pull-8 {
            position: relative;
            right: 66.66667%;
            left: auto; }
        
          .push-9 {
            position: relative;
            left: 75%;
            right: auto; }
        
          .pull-9 {
            position: relative;
            right: 75%;
            left: auto; }
        
          .push-10 {
            position: relative;
            left: 83.33333%;
            right: auto; }
        
          .pull-10 {
            position: relative;
            right: 83.33333%;
            left: auto; }
        
          .push-11 {
            position: relative;
            left: 91.66667%;
            right: auto; }
        
          .pull-11 {
            position: relative;
            right: 91.66667%;
            left: auto; } }
        [class*="block-grid-"] {
          display: block;
          padding: 0;
          margin: 0 -0.625rem; }
          [class*="block-grid-"]:before, [class*="block-grid-"]:after {
            content: " ";
            display: table; }
          [class*="block-grid-"]:after {
            clear: both; }
          [class*="block-grid-"] > li {
            display: block;
            height: auto;
            float: left;
            padding: 0 0.625rem 1.25rem; }
        
        @media only screen {
          .small-block-grid-1 > li {
            width: 100%;
            list-style: none; }
            .small-block-grid-1 > li:nth-of-type(1n) {
              clear: none; }
            .small-block-grid-1 > li:nth-of-type(1n+1) {
              clear: both; }
        
          .small-block-grid-2 > li {
            width: 50%;
            list-style: none; }
            .small-block-grid-2 > li:nth-of-type(1n) {
              clear: none; }
            .small-block-grid-2 > li:nth-of-type(2n+1) {
              clear: both; }
        
          .small-block-grid-3 > li {
            width: 33.33333%;
            list-style: none; }
            .small-block-grid-3 > li:nth-of-type(1n) {
              clear: none; }
            .small-block-grid-3 > li:nth-of-type(3n+1) {
              clear: both; }
        
          .small-block-grid-4 > li {
            width: 25%;
            list-style: none; }
            .small-block-grid-4 > li:nth-of-type(1n) {
              clear: none; }
            .small-block-grid-4 > li:nth-of-type(4n+1) {
              clear: both; }
        
          .small-block-grid-5 > li {
            width: 20%;
            list-style: none; }
            .small-block-grid-5 > li:nth-of-type(1n) {
              clear: none; }
            .small-block-grid-5 > li:nth-of-type(5n+1) {
              clear: both; }
        
          .small-block-grid-6 > li {
            width: 16.66667%;
            list-style: none; }
            .small-block-grid-6 > li:nth-of-type(1n) {
              clear: none; }
            .small-block-grid-6 > li:nth-of-type(6n+1) {
              clear: both; }
        
          .small-block-grid-7 > li {
            width: 14.28571%;
            list-style: none; }
            .small-block-grid-7 > li:nth-of-type(1n) {
              clear: none; }
            .small-block-grid-7 > li:nth-of-type(7n+1) {
              clear: both; }
        
          .small-block-grid-8 > li {
            width: 12.5%;
            list-style: none; }
            .small-block-grid-8 > li:nth-of-type(1n) {
              clear: none; }
            .small-block-grid-8 > li:nth-of-type(8n+1) {
              clear: both; }
        
          .small-block-grid-9 > li {
            width: 11.11111%;
            list-style: none; }
            .small-block-grid-9 > li:nth-of-type(1n) {
              clear: none; }
            .small-block-grid-9 > li:nth-of-type(9n+1) {
              clear: both; }
        
          .small-block-grid-10 > li {
            width: 10%;
            list-style: none; }
            .small-block-grid-10 > li:nth-of-type(1n) {
              clear: none; }
            .small-block-grid-10 > li:nth-of-type(10n+1) {
              clear: both; }
        
          .small-block-grid-11 > li {
            width: 9.09091%;
            list-style: none; }
            .small-block-grid-11 > li:nth-of-type(1n) {
              clear: none; }
            .small-block-grid-11 > li:nth-of-type(11n+1) {
              clear: both; }
        
          .small-block-grid-12 > li {
            width: 8.33333%;
            list-style: none; }
            .small-block-grid-12 > li:nth-of-type(1n) {
              clear: none; }
            .small-block-grid-12 > li:nth-of-type(12n+1) {
              clear: both; } }
        @media only screen and (min-width: 40.063em) {
          .medium-block-grid-1 > li {
            width: 100%;
            list-style: none; }
            .medium-block-grid-1 > li:nth-of-type(1n) {
              clear: none; }
            .medium-block-grid-1 > li:nth-of-type(1n+1) {
              clear: both; }
        
          .medium-block-grid-2 > li {
            width: 50%;
            list-style: none; }
            .medium-block-grid-2 > li:nth-of-type(1n) {
              clear: none; }
            .medium-block-grid-2 > li:nth-of-type(2n+1) {
              clear: both; }
        
          .medium-block-grid-3 > li {
            width: 33.33333%;
            list-style: none; }
            .medium-block-grid-3 > li:nth-of-type(1n) {
              clear: none; }
            .medium-block-grid-3 > li:nth-of-type(3n+1) {
              clear: both; }
        
          .medium-block-grid-4 > li {
            width: 25%;
            list-style: none; }
            .medium-block-grid-4 > li:nth-of-type(1n) {
              clear: none; }
            .medium-block-grid-4 > li:nth-of-type(4n+1) {
              clear: both; }
        
          .medium-block-grid-5 > li {
            width: 20%;
            list-style: none; }
            .medium-block-grid-5 > li:nth-of-type(1n) {
              clear: none; }
            .medium-block-grid-5 > li:nth-of-type(5n+1) {
              clear: both; }
        
          .medium-block-grid-6 > li {
            width: 16.66667%;
            list-style: none; }
            .medium-block-grid-6 > li:nth-of-type(1n) {
              clear: none; }
            .medium-block-grid-6 > li:nth-of-type(6n+1) {
              clear: both; }
        
          .medium-block-grid-7 > li {
            width: 14.28571%;
            list-style: none; }
            .medium-block-grid-7 > li:nth-of-type(1n) {
              clear: none; }
            .medium-block-grid-7 > li:nth-of-type(7n+1) {
              clear: both; }
        
          .medium-block-grid-8 > li {
            width: 12.5%;
            list-style: none; }
            .medium-block-grid-8 > li:nth-of-type(1n) {
              clear: none; }
            .medium-block-grid-8 > li:nth-of-type(8n+1) {
              clear: both; }
        
          .medium-block-grid-9 > li {
            width: 11.11111%;
            list-style: none; }
            .medium-block-grid-9 > li:nth-of-type(1n) {
              clear: none; }
            .medium-block-grid-9 > li:nth-of-type(9n+1) {
              clear: both; }
        
          .medium-block-grid-10 > li {
            width: 10%;
            list-style: none; }
            .medium-block-grid-10 > li:nth-of-type(1n) {
              clear: none; }
            .medium-block-grid-10 > li:nth-of-type(10n+1) {
              clear: both; }
        
          .medium-block-grid-11 > li {
            width: 9.09091%;
            list-style: none; }
            .medium-block-grid-11 > li:nth-of-type(1n) {
              clear: none; }
            .medium-block-grid-11 > li:nth-of-type(11n+1) {
              clear: both; }
        
          .medium-block-grid-12 > li {
            width: 8.33333%;
            list-style: none; }
            .medium-block-grid-12 > li:nth-of-type(1n) {
              clear: none; }
            .medium-block-grid-12 > li:nth-of-type(12n+1) {
              clear: both; } }
        @media only screen and (min-width: 64.063em) {
          .large-block-grid-1 > li {
            width: 100%;
            list-style: none; }
            .large-block-grid-1 > li:nth-of-type(1n) {
              clear: none; }
            .large-block-grid-1 > li:nth-of-type(1n+1) {
              clear: both; }
        
          .large-block-grid-2 > li {
            width: 50%;
            list-style: none; }
            .large-block-grid-2 > li:nth-of-type(1n) {
              clear: none; }
            .large-block-grid-2 > li:nth-of-type(2n+1) {
              clear: both; }
        
          .large-block-grid-3 > li {
            width: 33.33333%;
            list-style: none; }
            .large-block-grid-3 > li:nth-of-type(1n) {
              clear: none; }
            .large-block-grid-3 > li:nth-of-type(3n+1) {
              clear: both; }
        
          .large-block-grid-4 > li {
            width: 25%;
            list-style: none; }
            .large-block-grid-4 > li:nth-of-type(1n) {
              clear: none; }
            .large-block-grid-4 > li:nth-of-type(4n+1) {
              clear: both; }
        
          .large-block-grid-5 > li {
            width: 20%;
            list-style: none; }
            .large-block-grid-5 > li:nth-of-type(1n) {
              clear: none; }
            .large-block-grid-5 > li:nth-of-type(5n+1) {
              clear: both; }
        
          .large-block-grid-6 > li {
            width: 16.66667%;
            list-style: none; }
            .large-block-grid-6 > li:nth-of-type(1n) {
              clear: none; }
            .large-block-grid-6 > li:nth-of-type(6n+1) {
              clear: both; }
        
          .large-block-grid-7 > li {
            width: 14.28571%;
            list-style: none; }
            .large-block-grid-7 > li:nth-of-type(1n) {
              clear: none; }
            .large-block-grid-7 > li:nth-of-type(7n+1) {
              clear: both; }
        
          .large-block-grid-8 > li {
            width: 12.5%;
            list-style: none; }
            .large-block-grid-8 > li:nth-of-type(1n) {
              clear: none; }
            .large-block-grid-8 > li:nth-of-type(8n+1) {
              clear: both; }
        
          .large-block-grid-9 > li {
            width: 11.11111%;
            list-style: none; }
            .large-block-grid-9 > li:nth-of-type(1n) {
              clear: none; }
            .large-block-grid-9 > li:nth-of-type(9n+1) {
              clear: both; }
        
          .large-block-grid-10 > li {
            width: 10%;
            list-style: none; }
            .large-block-grid-10 > li:nth-of-type(1n) {
              clear: none; }
            .large-block-grid-10 > li:nth-of-type(10n+1) {
              clear: both; }
        
          .large-block-grid-11 > li {
            width: 9.09091%;
            list-style: none; }
            .large-block-grid-11 > li:nth-of-type(1n) {
              clear: none; }
            .large-block-grid-11 > li:nth-of-type(11n+1) {
              clear: both; }
        
          .large-block-grid-12 > li {
            width: 8.33333%;
            list-style: none; }
            .large-block-grid-12 > li:nth-of-type(1n) {
              clear: none; }
            .large-block-grid-12 > li:nth-of-type(12n+1) {
              clear: both; } } */