header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99;
	background: #fff;
	-webkit-box-shadow: 0 5px 5px -5px rgba(0,0,0,.2);
	        box-shadow: 0 5px 5px -5px rgba(0,0,0,.2);
}
.top-filler{
	height: 100px;
	@media (min-width: 640px){
		height: 150px;
	}
	@media (min-width: 1025px){
		height: 100px;
	}
}
.header-column{
    padding: 10px 40px 10px 40px;
    @media (min-width: 768px){
        padding: 10px 60px 10px 60px;
    }
    @media (min-width: 1200px){
        padding: 10px 120px 10px 120px;
    }
}

.logo{
	float: left;
	line-height: 0px;
	margin-right: 40px;
	img{
		padding-top: 20px;
		display: inline-block;
	}
}

.nav-container{
	line-height: 100px;
    padding-top: 10px;
	display: inline-block;
	nav{
		ul{
			li{
				display: block;
				float: left;
				margin-left: 20px;
				position: relative;
				a{
					color: black;
					text-decoration: none;
					text-decoration: none;
					font-size: 1.1em;
					@include link($light-blue);
				}
			}
		}
	}
}
.text-container{
	height: 100%;
	display: inline-block;
	padding: 10px;
	a{
		text-decoration: none;
	}
}
.banner-title-wrapper{
	h1{
		padding: 30px;
		@media(min-width: 768px){
			padding: 40px;
		}
	}
}

.contact{
	float: right;
	line-height: 100px;
	@include flex-center;
	@media (max-width: 450px){
		margin-top: 10px;
	}
	.contact-icon{
		margin-left: 10px;
		i.fa-phone,
		i.fa-envelope{
			font-size: 1.3em;
			color: black;
			text-decoration: none;
			@include link($light-blue);
		}
	}
	img{
		display: none;
		@media (min-width: 450px){
			display: inline-block;
		}
	}
	p{
		display: inline-block;
		position: relative;
		font-size: 18px;
		&:before{
			position: absolute;
			top: 0;
			left: -24px;
			font-family: "foundation-icons";
			font-size: 24px;
			color: $light-blue;
		}
	}
	.phone{
		margin-right: 40px;
	}
	.phone:before{
		content: '\f1f8';
	}
	.mail:before{
		content: '\f16d';
	}
	img{
		width: 70px;
		margin-left: 15px;
	}
}


.mobile-menu{
	position: relative;
	.fi-list{
		display: block;
		background: $light-blue;
		color: #fff;
		text-align: center;
		font-size: 30px;
		height: 50px;
		line-height: 52px;
	}
	ul{
		display: none;
		li{
			display: block;
			background: #fff;
			a{	
				color: black;
				text-decoration: none;
				display: block;
				text-align: center;
				padding: 10px 0;
			}
		}
		li:nth-child(odd){
			background: $pale-blue;
		}
	}
}

@media all and (max-width: 1024px){

	.nav-container{
		display: none;
	}
}

@media all and (max-width: 640px){

	.logo{
		max-width: 80px;
		margin-right: 30px;
		line-height: 0px;
		margin-top: 2%;
		img{
			padding-top: 0px; 
		}
	}

	.contact{
		line-height: 0;
		p{
			display: block;
			line-height: 20px;
			font-size: 16px;
		}
	}

	.mobile-menu{
		.fi-list{
			height: 40px;
			line-height: 42px;
		}
	}

}

@media all and (min-width: 1025px){

	.mobile-menu{
		display: none;
	}
	
}