$pale-blue: #dce3ed;
$light-blue: #84b1b6;
$dove-blue: #9abac0;
$dove-grey: #9aadb3;
$grey: #9aadb3;

@mixin paddings-columns{
    padding: 30px 40px 30px 40px;
    @media (min-width: 768px){
        padding: 30px 60px 30px 60px;
    }
    @media (min-width: 1200px){
        padding: 30px 120px 30px 120px;
    }
}
@mixin hover-enlarge{
  @include transition(all, .2s ,ease-in-out);
	&:hover{
		@include transform(scale(1.055));
	}
}
@mixin link($hover-color){
  font-weight: 700;
	@include hover-enlarge;
	&:hover{
    text-decoration: none;
		color: $hover-color;
		@include transition(all, .2s, ease-in-out);
	}
}
@mixin box-shadow{
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
@mixin button{
        cursor: pointer;
        background: $light-blue;
        @include border-radius(3px);
        @include box-shadow;
        padding: 12px 50px 12px 50px;
        color: white;
        a{
          text-decoration: none;
        }
        &:hover{
          @include hover-enlarge;
          background: $pale-blue;
          @include transition(background, .2s, ease-in-out);
          color: $light-blue;
          @include transition(color, .2s, ease-in-out);
          a{
            text-decoration: none;
          }
      }
}
@mixin flex-center{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

// transitions
@mixin transition($transition-property, $transition-time, $method) {
    transition-property: $transition-property;
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}

// border-radius
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}

// keyframes
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content; 
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  } 
}

// transform

// generic transform
@mixin transform($transforms) {
     -moz-transform: $transforms;
       -o-transform: $transforms;
      -ms-transform: $transforms;
  -webkit-transform: $transforms;
          transform: $transforms;
}
// rotate
@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}

// rotateY
@mixin rotateY ($deg) {
  @include transform(rotateY(#{$deg}deg));
}
 
// scale
@mixin scale($scale) {
   @include transform(scale($scale));
} 

// translate
@mixin translate ($x, $y) {
   @include transform(translate($x, $y));
}

// skew
@mixin skew ($x, $y) {
   @include transform(skew(#{$x}deg, #{$y}deg));
}

// transform origin
@mixin transform-origin ($origin) {
    moz-transform-origin: $origin;
       -o-transform-origin: $origin;
      -ms-transform-origin: $origin;
  -webkit-transform-origin: $origin;
          transform-origin: $origin;
}

// Placeholder
@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}  
}