.b-wrapper p {
	margin-bottom:20px;
}

.b-wrapper h1 {
	font-size:30px;
	font-weight: 400;
}

.b-wrapper h2 {
	font-size:24px;
	font-weight: 400;
}

.b-wrapper.welcome columns {
	padding:0;
}

.b-columns {
	padding:40px 0;
	padding-right: 40%;
}

.welcome .b-book {
	position: absolute;
	right: 0;
	bottom: 0;
	height: 100%;
	width: 30%;
	background: #f1faff;
	text-align: center;
}

.welcome .b-book i {
	display: inline-block;
	width: 100px;
	height: 100px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background-clip: padding-box;
	background: #38b4e9;
	text-align: center;
	line-height: 105px;
	font-size: 60px;
	color: #fff;
	margin-bottom: 20px;
}

.welcome .b-book p {
	display: block;
	text-align: center;
	color: #000;
}

.welcome .b-book .icon-container {
	top:40% !important;
	display: block;
	position: relative !important;
	left: 0;
	margin-top: 20px !important;
	width: 100%;
	padding: 0;
	text-align: center;
}

.b-sidebar {
	float:left;
}

.b-sidebar span {
	text-transform: uppercase;
	text-align: left;
	display: inline-block;
	margin-top: 80px;
	font-size:24px;
	color:#000;
}

.b-sidebar .phone {
	display: inline-block;
	position: relative;
	font-size: 18px;
	margin-top:20px;
	font-weight: 200;
}

.b-sidebar .email {
	display: inline-block;
	position: relative;
	font-size: 18px;
	margin-top:20px;
	font-weight: 200;
}

.b-sidebar .email a {
	color:#000;
	text-transform: none;
}

.b-sidebar .email:before {
	position: absolute;
	top: 0;
	left: -24px;
	font-family: "foundation-icons";
	font-size: 24px;
	color: #38b4e9;
	content: '\f16d';	
}

.b-sidebar .phone:before {
	position: absolute;
	top: 0;
	left: -24px;
	font-family: "foundation-icons";
	font-size: 24px;
	color: #38b4e9;
	content: '\f1f8';
}

.b-wrapper .content {
	float:left;
}

.b-wrapper ul {
	padding-left:20px;
	margin-bottom: 20px;
}

.b-wrapper li {
	list-style: disc;
	margin-bottom: 5px;
	font-weight: 200;
	font-size: 18px;
}

.b-wrapper em {
	font-style: italic;
}

.b-wrapper a {
	color:#000;
}

.b-center {
	width:1070px;
	text-align: center;
	margin:0 auto;		
}

.b-center .b-span {
	font-size: 40px;
	line-height: 100%;
	font-weight: 600;
	margin-bottom: 60px;
	display: inline-block;
}

.b-center .b-punch {
	margin: 0;
	color: #fff;
	font-size: 40px;
	font-weight: 500;
	line-height: 130%;
}

.sitemap {
	color:#000;
	font-weight: 200;
}

@media screen and (max-width: 1024px) {
	.welcome .b-book { 
		height:300px !important;
		margin-top:20px;
	}
	
	.welcome .b-book .icon-container {
		top:68% !important;
	}
	
	.b-sidebar span {
		margin-top:20px;
	}
	
}