/*
Theme Name: BSIS
Theme URI: 
Description: Custom theme built by Jesper Landberg for BSIS
Author: Jesper Landberg
Author URI: 
Version: 1.0
Tags: clean, responsive, custom fields, red, gray, black

License: GNU General Public License v2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/


            div.exiptjq {
            left: -9999px !important; 
            position: absolute !important;
        }