/*{
    box-sizing: border-box;
}*/
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, caption, canvas, center, cite, code,
dd, del, details, dfn, dialog, div, dl, dt, em, embed, fieldset, figcaption, figure, form, footer, header, hgroup, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, block, strike, strong, sub, summary, sup, tt, table, tbody, textarea, tfoot, thead, time, tr, th, td, u, ul, var, video {
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  white-space: normal;
  text-align: left;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: "Roboto Slab", serif; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

ul {
  list-style-type: none; }

a {
  text-decoration: none; }

li {
  list-style-type: none; }

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  overflow-x: hidden; }

input, textarea, form, button {
  -webkit-appearance: none;
  -moz-apperance: none; }

img {
  max-width: 100%;
  display: block; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

h1 {
  padding: 10px 30px 10px 30px;
  margin: 0px auto;
  font-size: 40px;
  line-height: 100%;
  font-weight: 700;
  letter-spacing: 1px;
  max-width: 350px;
  line-height: 45px; }
  @media (min-width: 768px) {
    h1 {
      max-width: 450px;
      font-size: 45px;
      margin-bottom: 20px;
      line-height: 50px; } }
  @media (min-width: 1200px) {
    h1 {
      line-height: 65px;
      max-width: 550px;
      font-size: 55px; } }

h2 {
  font-size: 30px;
  margin-bottom: 20px;
  line-height: 100%;
  font-weight: 700; }
  @media (min-width: 768px) {
    h2 {
      font-size: 35px;
      margin-bottom: 40px; } }

p {
  line-height: 140%;
  font-size: 18px;
  font-weight: 300; }

@media (min-width: 1200px) {
  .row-main {
    /*margin-left: 10%;
    margin-right: 10%;*/
    max-width: 1400px;
    margin: auto; } }

/*
meta.foundation-version {
  font-family: "/5.3.0/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0em; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:40.063em)/";
  width: 40.063em; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:64.063em)/";
  width: 64.063em; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:90.063em)/";
  width: 90.063em; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:120.063em)/";
  width: 120.063em; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

html, body {
  height: 100%; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  font-size: 100%; }

body {
  background: white;
  color: #222222;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  position: relative;
  cursor: default; }

a:hover {
  cursor: pointer; }

img {
  max-width: 100%;
  height: auto; }

img {
  -ms-interpolation-mode: bicubic; }

#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object {
  max-width: none !important; }

.left {
  float: left !important; }

.right {
  float: right !important; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }
.clearfix:after {
  clear: both; }

.hide {
  display: none; }

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

img {
  display: inline-block;
  vertical-align: middle; }

textarea {
  height: auto;
  min-height: 50px; }

select {
  width: 100%; }

.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; 
}
  /*.row:before, .row:after {
    display: inline-block;
    content: " ";
    display: table; }*/
/*
  .row:after {
    clear: both; }
  .row.collapse > .column,
  .row.collapse > .columns {
    padding-left: 0;
    padding-right: 0; }
  .row.collapse .row {
    margin-left: 0;
    margin-right: 0; }
  .row .row {
    width: auto;
    margin-left: -0.9375em;
    margin-right: -0.9375em;
    margin-top: 0;
    margin-bottom: 0;
    max-width: none; }
    .row .row:before, .row .row:after {
      content: " ";
      display: table; }
    .row .row:after {
      clear: both; }
    .row .row.collapse {
      width: auto;
      margin: 0;
      max-width: none; }
      .row .row.collapse:before, .row .row.collapse:after {
        content: " ";
        display: table; }
      .row .row.collapse:after {
        clear: both; }
        
        .column,
        .columns {
          padding-left: 0.9375em;
          padding-right: 0.9375em;
          width: 100%;
          float: left; }
        
        [class*="column"] + [class*="column"]:last-child {
          float: right; }
        
        [class*="column"] + [class*="column"].end {
          float: left; }
        
        @media only screen {
          .small-push-0 {
            position: relative;
            left: 0%;
            right: auto; }
        
          .small-pull-0 {
            position: relative;
            right: 0%;
            left: auto; }
        
          .small-push-1 {
            position: relative;
            left: 8.33333%;
            right: auto; }
        
          .small-pull-1 {
            position: relative;
            right: 8.33333%;
            left: auto; }
        
          .small-push-2 {
            position: relative;
            left: 16.66667%;
            right: auto; }
        
          .small-pull-2 {
            position: relative;
            right: 16.66667%;
            left: auto; }
        
          .small-push-3 {
            position: relative;
            left: 25%;
            right: auto; }
        
          .small-pull-3 {
            position: relative;
            right: 25%;
            left: auto; }
        
          .small-push-4 {
            position: relative;
            left: 33.33333%;
            right: auto; }
        
          .small-pull-4 {
            position: relative;
            right: 33.33333%;
            left: auto; }
        
          .small-push-5 {
            position: relative;
            left: 41.66667%;
            right: auto; }
        
          .small-pull-5 {
            position: relative;
            right: 41.66667%;
            left: auto; }
        
          .small-push-6 {
            position: relative;
            left: 50%;
            right: auto; }
        
          .small-pull-6 {
            position: relative;
            right: 50%;
            left: auto; }
        
          .small-push-7 {
            position: relative;
            left: 58.33333%;
            right: auto; }
        
          .small-pull-7 {
            position: relative;
            right: 58.33333%;
            left: auto; }
        
          .small-push-8 {
            position: relative;
            left: 66.66667%;
            right: auto; }
        
          .small-pull-8 {
            position: relative;
            right: 66.66667%;
            left: auto; }
        
          .small-push-9 {
            position: relative;
            left: 75%;
            right: auto; }
        
          .small-pull-9 {
            position: relative;
            right: 75%;
            left: auto; }
        
          .small-push-10 {
            position: relative;
            left: 83.33333%;
            right: auto; }
        
          .small-pull-10 {
            position: relative;
            right: 83.33333%;
            left: auto; }
        
          .small-push-11 {
            position: relative;
            left: 91.66667%;
            right: auto; }
        
          .small-pull-11 {
            position: relative;
            right: 91.66667%;
            left: auto; }
        
          .column,
          .columns {
            position: relative;
            padding-left: 0.9375em;
            padding-right: 0.9375em;
            float: left; }
        
          .small-1 {
            width: 8.33333%; }
        
          .small-2 {
            width: 16.66667%; }
        
          .small-3 {
            width: 25%; }
        
          .small-4 {
            width: 33.33333%; }
        
          .small-5 {
            width: 41.66667%; }
        
          .small-6 {
            width: 50%; }
        
          .small-7 {
            width: 58.33333%; }
        
          .small-8 {
            width: 66.66667%; }
        
          .small-9 {
            width: 75%; }
        
          .small-10 {
            width: 83.33333%; }
        
          .small-11 {
            width: 91.66667%; }
        
          .small-12 {
            width: 100%; }
        
          .small-offset-0 {
            margin-left: 0% !important; }
        
          .small-offset-1 {
            margin-left: 8.33333% !important; }
        
          .small-offset-2 {
            margin-left: 16.66667% !important; }
        
          .small-offset-3 {
            margin-left: 25% !important; }
        
          .small-offset-4 {
            margin-left: 33.33333% !important; }
        
          .small-offset-5 {
            margin-left: 41.66667% !important; }
        
          .small-offset-6 {
            margin-left: 50% !important; }
        
          .small-offset-7 {
            margin-left: 58.33333% !important; }
        
          .small-offset-8 {
            margin-left: 66.66667% !important; }
        
          .small-offset-9 {
            margin-left: 75% !important; }
        
          .small-offset-10 {
            margin-left: 83.33333% !important; }
        
          .small-offset-11 {
            margin-left: 91.66667% !important; }
        
          .small-reset-order {
            margin-left: 0;
            margin-right: 0;
            left: auto;
            right: auto;
            float: left; }
        
          .column.small-centered,
          .columns.small-centered {
            margin-left: auto;
            margin-right: auto;
            float: none; }
        
          .column.small-uncentered,
          .columns.small-uncentered {
            margin-left: 0;
            margin-right: 0;
            float: left; }
        
          .column.small-centered:last-child,
          .columns.small-centered:last-child {
            float: none; }
        
          .column.small-uncentered:last-child,
          .columns.small-uncentered:last-child {
            float: left; }
        
          .column.small-uncentered.opposite,
          .columns.small-uncentered.opposite {
            float: right; } }
        @media only screen and (min-width: 40.063em) {
          .medium-push-0 {
            position: relative;
            left: 0%;
            right: auto; }
        
          .medium-pull-0 {
            position: relative;
            right: 0%;
            left: auto; }
        
          .medium-push-1 {
            position: relative;
            left: 8.33333%;
            right: auto; }
        
          .medium-pull-1 {
            position: relative;
            right: 8.33333%;
            left: auto; }
        
          .medium-push-2 {
            position: relative;
            left: 16.66667%;
            right: auto; }
        
          .medium-pull-2 {
            position: relative;
            right: 16.66667%;
            left: auto; }
        
          .medium-push-3 {
            position: relative;
            left: 25%;
            right: auto; }
        
          .medium-pull-3 {
            position: relative;
            right: 25%;
            left: auto; }
        
          .medium-push-4 {
            position: relative;
            left: 33.33333%;
            right: auto; }
        
          .medium-pull-4 {
            position: relative;
            right: 33.33333%;
            left: auto; }
        
          .medium-push-5 {
            position: relative;
            left: 41.66667%;
            right: auto; }
        
          .medium-pull-5 {
            position: relative;
            right: 41.66667%;
            left: auto; }
        
          .medium-push-6 {
            position: relative;
            left: 50%;
            right: auto; }
        
          .medium-pull-6 {
            position: relative;
            right: 50%;
            left: auto; }
        
          .medium-push-7 {
            position: relative;
            left: 58.33333%;
            right: auto; }
        
          .medium-pull-7 {
            position: relative;
            right: 58.33333%;
            left: auto; }
        
          .medium-push-8 {
            position: relative;
            left: 66.66667%;
            right: auto; }
        
          .medium-pull-8 {
            position: relative;
            right: 66.66667%;
            left: auto; }
        
          .medium-push-9 {
            position: relative;
            left: 75%;
            right: auto; }
        
          .medium-pull-9 {
            position: relative;
            right: 75%;
            left: auto; }
        
          .medium-push-10 {
            position: relative;
            left: 83.33333%;
            right: auto; }
        
          .medium-pull-10 {
            position: relative;
            right: 83.33333%;
            left: auto; }
        
          .medium-push-11 {
            position: relative;
            left: 91.66667%;
            right: auto; }
        
          .medium-pull-11 {
            position: relative;
            right: 91.66667%;
            left: auto; }
        
          .column,
          .columns {
            position: relative;
            padding-left: 0.9375em;
            padding-right: 0.9375em;
            float: left; }
        
          .medium-1 {
            width: 8.33333%; }
        
          .medium-2 {
            width: 16.66667%; }
        
          .medium-3 {
            width: 25%; }
        
          .medium-4 {
            width: 33.33333%; }
        
          .medium-5 {
            width: 41.66667%; }
        
          .medium-6 {
            width: 50%; }
        
          .medium-7 {
            width: 58.33333%; }
        
          .medium-8 {
            width: 66.66667%; }
        
          .medium-9 {
            width: 75%; }
        
          .medium-10 {
            width: 83.33333%; }
        
          .medium-11 {
            width: 91.66667%; }
        
          .medium-12 {
            width: 100%; }
        
          .medium-offset-0 {
            margin-left: 0% !important; }
        
          .medium-offset-1 {
            margin-left: 8.33333% !important; }
        
          .medium-offset-2 {
            margin-left: 16.66667% !important; }
        
          .medium-offset-3 {
            margin-left: 25% !important; }
        
          .medium-offset-4 {
            margin-left: 33.33333% !important; }
        
          .medium-offset-5 {
            margin-left: 41.66667% !important; }
        
          .medium-offset-6 {
            margin-left: 50% !important; }
        
          .medium-offset-7 {
            margin-left: 58.33333% !important; }
        
          .medium-offset-8 {
            margin-left: 66.66667% !important; }
        
          .medium-offset-9 {
            margin-left: 75% !important; }
        
          .medium-offset-10 {
            margin-left: 83.33333% !important; }
        
          .medium-offset-11 {
            margin-left: 91.66667% !important; }
        
          .medium-reset-order {
            margin-left: 0;
            margin-right: 0;
            left: auto;
            right: auto;
            float: left; }
        
          .column.medium-centered,
          .columns.medium-centered {
            margin-left: auto;
            margin-right: auto;
            float: none; }
        
          .column.medium-uncentered,
          .columns.medium-uncentered {
            margin-left: 0;
            margin-right: 0;
            float: left; }
        
          .column.medium-centered:last-child,
          .columns.medium-centered:last-child {
            float: none; }
        
          .column.medium-uncentered:last-child,
          .columns.medium-uncentered:last-child {
            float: left; }
        
          .column.medium-uncentered.opposite,
          .columns.medium-uncentered.opposite {
            float: right; }
        
          .push-0 {
            position: relative;
            left: 0%;
            right: auto; }
        
          .pull-0 {
            position: relative;
            right: 0%;
            left: auto; }
        
          .push-1 {
            position: relative;
            left: 8.33333%;
            right: auto; }
        
          .pull-1 {
            position: relative;
            right: 8.33333%;
            left: auto; }
        
          .push-2 {
            position: relative;
            left: 16.66667%;
            right: auto; }
        
          .pull-2 {
            position: relative;
            right: 16.66667%;
            left: auto; }
        
          .push-3 {
            position: relative;
            left: 25%;
            right: auto; }
        
          .pull-3 {
            position: relative;
            right: 25%;
            left: auto; }
        
          .push-4 {
            position: relative;
            left: 33.33333%;
            right: auto; }
        
          .pull-4 {
            position: relative;
            right: 33.33333%;
            left: auto; }
        
          .push-5 {
            position: relative;
            left: 41.66667%;
            right: auto; }
        
          .pull-5 {
            position: relative;
            right: 41.66667%;
            left: auto; }
        
          .push-6 {
            position: relative;
            left: 50%;
            right: auto; }
        
          .pull-6 {
            position: relative;
            right: 50%;
            left: auto; }
        
          .push-7 {
            position: relative;
            left: 58.33333%;
            right: auto; }
        
          .pull-7 {
            position: relative;
            right: 58.33333%;
            left: auto; }
        
          .push-8 {
            position: relative;
            left: 66.66667%;
            right: auto; }
        
          .pull-8 {
            position: relative;
            right: 66.66667%;
            left: auto; }
        
          .push-9 {
            position: relative;
            left: 75%;
            right: auto; }
        
          .pull-9 {
            position: relative;
            right: 75%;
            left: auto; }
        
          .push-10 {
            position: relative;
            left: 83.33333%;
            right: auto; }
        
          .pull-10 {
            position: relative;
            right: 83.33333%;
            left: auto; }
        
          .push-11 {
            position: relative;
            left: 91.66667%;
            right: auto; }
        
          .pull-11 {
            position: relative;
            right: 91.66667%;
            left: auto; } }
        @media only screen and (min-width: 64.063em) {
          .large-push-0 {
            position: relative;
            left: 0%;
            right: auto; }
        
          .large-pull-0 {
            position: relative;
            right: 0%;
            left: auto; }
        
          .large-push-1 {
            position: relative;
            left: 8.33333%;
            right: auto; }
        
          .large-pull-1 {
            position: relative;
            right: 8.33333%;
            left: auto; }
        
          .large-push-2 {
            position: relative;
            left: 16.66667%;
            right: auto; }
        
          .large-pull-2 {
            position: relative;
            right: 16.66667%;
            left: auto; }
        
          .large-push-3 {
            position: relative;
            left: 25%;
            right: auto; }
        
          .large-pull-3 {
            position: relative;
            right: 25%;
            left: auto; }
        
          .large-push-4 {
            position: relative;
            left: 33.33333%;
            right: auto; }
        
          .large-pull-4 {
            position: relative;
            right: 33.33333%;
            left: auto; }
        
          .large-push-5 {
            position: relative;
            left: 41.66667%;
            right: auto; }
        
          .large-pull-5 {
            position: relative;
            right: 41.66667%;
            left: auto; }
        
          .large-push-6 {
            position: relative;
            left: 50%;
            right: auto; }
        
          .large-pull-6 {
            position: relative;
            right: 50%;
            left: auto; }
        
          .large-push-7 {
            position: relative;
            left: 58.33333%;
            right: auto; }
        
          .large-pull-7 {
            position: relative;
            right: 58.33333%;
            left: auto; }
        
          .large-push-8 {
            position: relative;
            left: 66.66667%;
            right: auto; }
        
          .large-pull-8 {
            position: relative;
            right: 66.66667%;
            left: auto; }
        
          .large-push-9 {
            position: relative;
            left: 75%;
            right: auto; }
        
          .large-pull-9 {
            position: relative;
            right: 75%;
            left: auto; }
        
          .large-push-10 {
            position: relative;
            left: 83.33333%;
            right: auto; }
        
          .large-pull-10 {
            position: relative;
            right: 83.33333%;
            left: auto; }
        
          .large-push-11 {
            position: relative;
            left: 91.66667%;
            right: auto; }
        
          .large-pull-11 {
            position: relative;
            right: 91.66667%;
            left: auto; }
        
          .column,
          .columns {
            position: relative;
            padding-left: 0.9375em;
            padding-right: 0.9375em;
            float: left; }
        
          .large-1 {
            width: 8.33333%; }
        
          .large-2 {
            width: 16.66667%; }
        
          .large-3 {
            width: 25%; }
        
          .large-4 {
            width: 33.33333%; }
        
          .large-5 {
            width: 41.66667%; }
        
          .large-6 {
            width: 50%; }
        
          .large-7 {
            width: 58.33333%; }
        
          .large-8 {
            width: 66.66667%; }
        
          .large-9 {
            width: 75%; }
        
          .large-10 {
            width: 83.33333%; }
        
          .large-11 {
            width: 91.66667%; }
        
          .large-12 {
            width: 100%; }
        
          .large-offset-0 {
            margin-left: 0% !important; }
        
          .large-offset-1 {
            margin-left: 8.33333% !important; }
        
          .large-offset-2 {
            margin-left: 16.66667% !important; }
        
          .large-offset-3 {
            margin-left: 25% !important; }
        
          .large-offset-4 {
            margin-left: 33.33333% !important; }
        
          .large-offset-5 {
            margin-left: 41.66667% !important; }
        
          .large-offset-6 {
            margin-left: 50% !important; }
        
          .large-offset-7 {
            margin-left: 58.33333% !important; }
        
          .large-offset-8 {
            margin-left: 66.66667% !important; }
        
          .large-offset-9 {
            margin-left: 75% !important; }
        
          .large-offset-10 {
            margin-left: 83.33333% !important; }
        
          .large-offset-11 {
            margin-left: 91.66667% !important; }
        
          .large-reset-order {
            margin-left: 0;
            margin-right: 0;
            left: auto;
            right: auto;
            float: left; }
        
          .column.large-centered,
          .columns.large-centered {
            margin-left: auto;
            margin-right: auto;
            float: none; }
        
          .column.large-uncentered,
          .columns.large-uncentered {
            margin-left: 0;
            margin-right: 0;
            float: left; }
        
          .column.large-centered:last-child,
          .columns.large-centered:last-child {
            float: none; }
        
          .column.large-uncentered:last-child,
          .columns.large-uncentered:last-child {
            float: left; }
        
          .column.large-uncentered.opposite,
          .columns.large-uncentered.opposite {
            float: right; }
        
          .push-0 {
            position: relative;
            left: 0%;
            right: auto; }
        
          .pull-0 {
            position: relative;
            right: 0%;
            left: auto; }
        
          .push-1 {
            position: relative;
            left: 8.33333%;
            right: auto; }
        
          .pull-1 {
            position: relative;
            right: 8.33333%;
            left: auto; }
        
          .push-2 {
            position: relative;
            left: 16.66667%;
            right: auto; }
        
          .pull-2 {
            position: relative;
            right: 16.66667%;
            left: auto; }
        
          .push-3 {
            position: relative;
            left: 25%;
            right: auto; }
        
          .pull-3 {
            position: relative;
            right: 25%;
            left: auto; }
        
          .push-4 {
            position: relative;
            left: 33.33333%;
            right: auto; }
        
          .pull-4 {
            position: relative;
            right: 33.33333%;
            left: auto; }
        
          .push-5 {
            position: relative;
            left: 41.66667%;
            right: auto; }
        
          .pull-5 {
            position: relative;
            right: 41.66667%;
            left: auto; }
        
          .push-6 {
            position: relative;
            left: 50%;
            right: auto; }
        
          .pull-6 {
            position: relative;
            right: 50%;
            left: auto; }
        
          .push-7 {
            position: relative;
            left: 58.33333%;
            right: auto; }
        
          .pull-7 {
            position: relative;
            right: 58.33333%;
            left: auto; }
        
          .push-8 {
            position: relative;
            left: 66.66667%;
            right: auto; }
        
          .pull-8 {
            position: relative;
            right: 66.66667%;
            left: auto; }
        
          .push-9 {
            position: relative;
            left: 75%;
            right: auto; }
        
          .pull-9 {
            position: relative;
            right: 75%;
            left: auto; }
        
          .push-10 {
            position: relative;
            left: 83.33333%;
            right: auto; }
        
          .pull-10 {
            position: relative;
            right: 83.33333%;
            left: auto; }
        
          .push-11 {
            position: relative;
            left: 91.66667%;
            right: auto; }
        
          .pull-11 {
            position: relative;
            right: 91.66667%;
            left: auto; } }
        [class*="block-grid-"] {
          display: block;
          padding: 0;
          margin: 0 -0.625rem; }
          [class*="block-grid-"]:before, [class*="block-grid-"]:after {
            content: " ";
            display: table; }
          [class*="block-grid-"]:after {
            clear: both; }
          [class*="block-grid-"] > li {
            display: block;
            height: auto;
            float: left;
            padding: 0 0.625rem 1.25rem; }
        
        @media only screen {
          .small-block-grid-1 > li {
            width: 100%;
            list-style: none; }
            .small-block-grid-1 > li:nth-of-type(1n) {
              clear: none; }
            .small-block-grid-1 > li:nth-of-type(1n+1) {
              clear: both; }
        
          .small-block-grid-2 > li {
            width: 50%;
            list-style: none; }
            .small-block-grid-2 > li:nth-of-type(1n) {
              clear: none; }
            .small-block-grid-2 > li:nth-of-type(2n+1) {
              clear: both; }
        
          .small-block-grid-3 > li {
            width: 33.33333%;
            list-style: none; }
            .small-block-grid-3 > li:nth-of-type(1n) {
              clear: none; }
            .small-block-grid-3 > li:nth-of-type(3n+1) {
              clear: both; }
        
          .small-block-grid-4 > li {
            width: 25%;
            list-style: none; }
            .small-block-grid-4 > li:nth-of-type(1n) {
              clear: none; }
            .small-block-grid-4 > li:nth-of-type(4n+1) {
              clear: both; }
        
          .small-block-grid-5 > li {
            width: 20%;
            list-style: none; }
            .small-block-grid-5 > li:nth-of-type(1n) {
              clear: none; }
            .small-block-grid-5 > li:nth-of-type(5n+1) {
              clear: both; }
        
          .small-block-grid-6 > li {
            width: 16.66667%;
            list-style: none; }
            .small-block-grid-6 > li:nth-of-type(1n) {
              clear: none; }
            .small-block-grid-6 > li:nth-of-type(6n+1) {
              clear: both; }
        
          .small-block-grid-7 > li {
            width: 14.28571%;
            list-style: none; }
            .small-block-grid-7 > li:nth-of-type(1n) {
              clear: none; }
            .small-block-grid-7 > li:nth-of-type(7n+1) {
              clear: both; }
        
          .small-block-grid-8 > li {
            width: 12.5%;
            list-style: none; }
            .small-block-grid-8 > li:nth-of-type(1n) {
              clear: none; }
            .small-block-grid-8 > li:nth-of-type(8n+1) {
              clear: both; }
        
          .small-block-grid-9 > li {
            width: 11.11111%;
            list-style: none; }
            .small-block-grid-9 > li:nth-of-type(1n) {
              clear: none; }
            .small-block-grid-9 > li:nth-of-type(9n+1) {
              clear: both; }
        
          .small-block-grid-10 > li {
            width: 10%;
            list-style: none; }
            .small-block-grid-10 > li:nth-of-type(1n) {
              clear: none; }
            .small-block-grid-10 > li:nth-of-type(10n+1) {
              clear: both; }
        
          .small-block-grid-11 > li {
            width: 9.09091%;
            list-style: none; }
            .small-block-grid-11 > li:nth-of-type(1n) {
              clear: none; }
            .small-block-grid-11 > li:nth-of-type(11n+1) {
              clear: both; }
        
          .small-block-grid-12 > li {
            width: 8.33333%;
            list-style: none; }
            .small-block-grid-12 > li:nth-of-type(1n) {
              clear: none; }
            .small-block-grid-12 > li:nth-of-type(12n+1) {
              clear: both; } }
        @media only screen and (min-width: 40.063em) {
          .medium-block-grid-1 > li {
            width: 100%;
            list-style: none; }
            .medium-block-grid-1 > li:nth-of-type(1n) {
              clear: none; }
            .medium-block-grid-1 > li:nth-of-type(1n+1) {
              clear: both; }
        
          .medium-block-grid-2 > li {
            width: 50%;
            list-style: none; }
            .medium-block-grid-2 > li:nth-of-type(1n) {
              clear: none; }
            .medium-block-grid-2 > li:nth-of-type(2n+1) {
              clear: both; }
        
          .medium-block-grid-3 > li {
            width: 33.33333%;
            list-style: none; }
            .medium-block-grid-3 > li:nth-of-type(1n) {
              clear: none; }
            .medium-block-grid-3 > li:nth-of-type(3n+1) {
              clear: both; }
        
          .medium-block-grid-4 > li {
            width: 25%;
            list-style: none; }
            .medium-block-grid-4 > li:nth-of-type(1n) {
              clear: none; }
            .medium-block-grid-4 > li:nth-of-type(4n+1) {
              clear: both; }
        
          .medium-block-grid-5 > li {
            width: 20%;
            list-style: none; }
            .medium-block-grid-5 > li:nth-of-type(1n) {
              clear: none; }
            .medium-block-grid-5 > li:nth-of-type(5n+1) {
              clear: both; }
        
          .medium-block-grid-6 > li {
            width: 16.66667%;
            list-style: none; }
            .medium-block-grid-6 > li:nth-of-type(1n) {
              clear: none; }
            .medium-block-grid-6 > li:nth-of-type(6n+1) {
              clear: both; }
        
          .medium-block-grid-7 > li {
            width: 14.28571%;
            list-style: none; }
            .medium-block-grid-7 > li:nth-of-type(1n) {
              clear: none; }
            .medium-block-grid-7 > li:nth-of-type(7n+1) {
              clear: both; }
        
          .medium-block-grid-8 > li {
            width: 12.5%;
            list-style: none; }
            .medium-block-grid-8 > li:nth-of-type(1n) {
              clear: none; }
            .medium-block-grid-8 > li:nth-of-type(8n+1) {
              clear: both; }
        
          .medium-block-grid-9 > li {
            width: 11.11111%;
            list-style: none; }
            .medium-block-grid-9 > li:nth-of-type(1n) {
              clear: none; }
            .medium-block-grid-9 > li:nth-of-type(9n+1) {
              clear: both; }
        
          .medium-block-grid-10 > li {
            width: 10%;
            list-style: none; }
            .medium-block-grid-10 > li:nth-of-type(1n) {
              clear: none; }
            .medium-block-grid-10 > li:nth-of-type(10n+1) {
              clear: both; }
        
          .medium-block-grid-11 > li {
            width: 9.09091%;
            list-style: none; }
            .medium-block-grid-11 > li:nth-of-type(1n) {
              clear: none; }
            .medium-block-grid-11 > li:nth-of-type(11n+1) {
              clear: both; }
        
          .medium-block-grid-12 > li {
            width: 8.33333%;
            list-style: none; }
            .medium-block-grid-12 > li:nth-of-type(1n) {
              clear: none; }
            .medium-block-grid-12 > li:nth-of-type(12n+1) {
              clear: both; } }
        @media only screen and (min-width: 64.063em) {
          .large-block-grid-1 > li {
            width: 100%;
            list-style: none; }
            .large-block-grid-1 > li:nth-of-type(1n) {
              clear: none; }
            .large-block-grid-1 > li:nth-of-type(1n+1) {
              clear: both; }
        
          .large-block-grid-2 > li {
            width: 50%;
            list-style: none; }
            .large-block-grid-2 > li:nth-of-type(1n) {
              clear: none; }
            .large-block-grid-2 > li:nth-of-type(2n+1) {
              clear: both; }
        
          .large-block-grid-3 > li {
            width: 33.33333%;
            list-style: none; }
            .large-block-grid-3 > li:nth-of-type(1n) {
              clear: none; }
            .large-block-grid-3 > li:nth-of-type(3n+1) {
              clear: both; }
        
          .large-block-grid-4 > li {
            width: 25%;
            list-style: none; }
            .large-block-grid-4 > li:nth-of-type(1n) {
              clear: none; }
            .large-block-grid-4 > li:nth-of-type(4n+1) {
              clear: both; }
        
          .large-block-grid-5 > li {
            width: 20%;
            list-style: none; }
            .large-block-grid-5 > li:nth-of-type(1n) {
              clear: none; }
            .large-block-grid-5 > li:nth-of-type(5n+1) {
              clear: both; }
        
          .large-block-grid-6 > li {
            width: 16.66667%;
            list-style: none; }
            .large-block-grid-6 > li:nth-of-type(1n) {
              clear: none; }
            .large-block-grid-6 > li:nth-of-type(6n+1) {
              clear: both; }
        
          .large-block-grid-7 > li {
            width: 14.28571%;
            list-style: none; }
            .large-block-grid-7 > li:nth-of-type(1n) {
              clear: none; }
            .large-block-grid-7 > li:nth-of-type(7n+1) {
              clear: both; }
        
          .large-block-grid-8 > li {
            width: 12.5%;
            list-style: none; }
            .large-block-grid-8 > li:nth-of-type(1n) {
              clear: none; }
            .large-block-grid-8 > li:nth-of-type(8n+1) {
              clear: both; }
        
          .large-block-grid-9 > li {
            width: 11.11111%;
            list-style: none; }
            .large-block-grid-9 > li:nth-of-type(1n) {
              clear: none; }
            .large-block-grid-9 > li:nth-of-type(9n+1) {
              clear: both; }
        
          .large-block-grid-10 > li {
            width: 10%;
            list-style: none; }
            .large-block-grid-10 > li:nth-of-type(1n) {
              clear: none; }
            .large-block-grid-10 > li:nth-of-type(10n+1) {
              clear: both; }
        
          .large-block-grid-11 > li {
            width: 9.09091%;
            list-style: none; }
            .large-block-grid-11 > li:nth-of-type(1n) {
              clear: none; }
            .large-block-grid-11 > li:nth-of-type(11n+1) {
              clear: both; }
        
          .large-block-grid-12 > li {
            width: 8.33333%;
            list-style: none; }
            .large-block-grid-12 > li:nth-of-type(1n) {
              clear: none; }
            .large-block-grid-12 > li:nth-of-type(12n+1) {
              clear: both; } } */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background: #fff;
  -webkit-box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.2); }

.top-filler {
  height: 100px; }
  @media (min-width: 640px) {
    .top-filler {
      height: 150px; } }
  @media (min-width: 1025px) {
    .top-filler {
      height: 100px; } }

.header-column {
  padding: 10px 40px 10px 40px; }
  @media (min-width: 768px) {
    .header-column {
      padding: 10px 60px 10px 60px; } }
  @media (min-width: 1200px) {
    .header-column {
      padding: 10px 120px 10px 120px; } }

.logo {
  float: left;
  line-height: 0px;
  margin-right: 40px; }
  .logo img {
    padding-top: 20px;
    display: inline-block; }

.nav-container {
  line-height: 100px;
  padding-top: 10px;
  display: inline-block; }
  .nav-container nav ul li {
    display: block;
    float: left;
    margin-left: 20px;
    position: relative; }
    .nav-container nav ul li a {
      color: black;
      text-decoration: none;
      text-decoration: none;
      font-size: 1.1em;
      font-weight: 700;
      transition-property: all;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
      .nav-container nav ul li a:hover {
        -moz-transform: scale(1.055);
        -o-transform: scale(1.055);
        -ms-transform: scale(1.055);
        -webkit-transform: scale(1.055);
        transform: scale(1.055); }
      .nav-container nav ul li a:hover {
        text-decoration: none;
        color: #84b1b6;
        transition-property: all;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out; }

.text-container {
  height: 100%;
  display: inline-block;
  padding: 10px; }
  .text-container a {
    text-decoration: none; }

.banner-title-wrapper h1 {
  padding: 30px; }
  @media (min-width: 768px) {
    .banner-title-wrapper h1 {
      padding: 40px; } }

.contact {
  float: right;
  line-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (max-width: 450px) {
    .contact {
      margin-top: 10px; } }
  .contact .contact-icon {
    margin-left: 10px; }
    .contact .contact-icon i.fa-phone,
    .contact .contact-icon i.fa-envelope {
      font-size: 1.3em;
      color: black;
      text-decoration: none;
      font-weight: 700;
      transition-property: all;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
      .contact .contact-icon i.fa-phone:hover,
      .contact .contact-icon i.fa-envelope:hover {
        -moz-transform: scale(1.055);
        -o-transform: scale(1.055);
        -ms-transform: scale(1.055);
        -webkit-transform: scale(1.055);
        transform: scale(1.055); }
      .contact .contact-icon i.fa-phone:hover,
      .contact .contact-icon i.fa-envelope:hover {
        text-decoration: none;
        color: #84b1b6;
        transition-property: all;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out; }
  .contact img {
    display: none; }
    @media (min-width: 450px) {
      .contact img {
        display: inline-block; } }
  .contact p {
    display: inline-block;
    position: relative;
    font-size: 18px; }
    .contact p:before {
      position: absolute;
      top: 0;
      left: -24px;
      font-family: "foundation-icons";
      font-size: 24px;
      color: #84b1b6; }
  .contact .phone {
    margin-right: 40px; }
  .contact .phone:before {
    content: '\f1f8'; }
  .contact .mail:before {
    content: '\f16d'; }
  .contact img {
    width: 70px;
    margin-left: 15px; }

.mobile-menu {
  position: relative; }
  .mobile-menu .fi-list {
    display: block;
    background: #84b1b6;
    color: #fff;
    text-align: center;
    font-size: 30px;
    height: 50px;
    line-height: 52px; }
  .mobile-menu ul {
    display: none; }
    .mobile-menu ul li {
      display: block;
      background: #fff; }
      .mobile-menu ul li a {
        color: black;
        text-decoration: none;
        display: block;
        text-align: center;
        padding: 10px 0; }
    .mobile-menu ul li:nth-child(odd) {
      background: #dce3ed; }

@media all and (max-width: 1024px) {
  .nav-container {
    display: none; } }

@media all and (max-width: 640px) {
  .logo {
    max-width: 80px;
    margin-right: 30px;
    line-height: 0px;
    margin-top: 2%; }
    .logo img {
      padding-top: 0px; }
  .contact {
    line-height: 0; }
    .contact p {
      display: block;
      line-height: 20px;
      font-size: 16px; }
  .mobile-menu .fi-list {
    height: 40px;
    line-height: 42px; } }

@media all and (min-width: 1025px) {
  .mobile-menu {
    display: none; } }

* {
  box-sizing: border-box !important; }

.fast-facts {
  position: fixed;
  bottom: 0;
  width: 250px;
  left: -250px;
  background: #eee;
  padding: 20px;
  z-index: 3;
  background: #84b1b6;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  transition-property: all;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .fast-facts h4 {
    margin-bottom: 10px;
    color: #fff; }
  .fast-facts p {
    font-size: 14px;
    color: #fff; }
    .fast-facts p span {
      font-weight: 400; }
  .fast-facts .fi-info {
    position: absolute;
    display: block;
    right: -60px;
    bottom: 0;
    height: 60px;
    width: 60px;
    background: #84b1b6;
    color: #fff;
    line-height: 60px;
    text-align: center;
    font-size: 40px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.5); }

.fast-facts-show {
  left: 0; }

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.align-center {
  text-align: center; }

.align-left {
  text-align: left; }

.c-white {
  color: #fff; }

.c-black {
  color: black; }

.bg-blue {
  background: #84b1b6; }

.bg-pale-blue {
  background: #dce3ed; }

.bg-black {
  background: #303030; }

.uppercase {
  text-transform: uppercase; }

.main-button {
  cursor: pointer;
  background: #84b1b6;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 12px 50px 12px 50px;
  color: white; }
  .main-button a {
    text-decoration: none; }
  .main-button:hover {
    transition-property: all;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background: #dce3ed;
    transition-property: background;
    -webkit-transition: background 0.2s ease-in-out;
    -moz-transition: background 0.2s ease-in-out;
    -ms-transition: background 0.2s ease-in-out;
    -o-transition: background 0.2s ease-in-out;
    transition: background 0.2s ease-in-out;
    color: #84b1b6;
    transition-property: color;
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out; }
    .main-button:hover:hover {
      -moz-transform: scale(1.055);
      -o-transform: scale(1.055);
      -ms-transform: scale(1.055);
      -webkit-transform: scale(1.055);
      transform: scale(1.055); }
    .main-button:hover a {
      text-decoration: none; }

.main-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 30px 40px 30px 40px; }
  @media (min-width: 768px) {
    .main-column {
      padding: 30px 60px 30px 60px; } }
  @media (min-width: 1200px) {
    .main-column {
      padding: 30px 120px 30px 120px; } }

.centered {
  text-align: center;
  margin: 0px auto; }

.margin-auto {
  margin: 0px auto; }

.no-padding {
  padding: 0px; }

.border {
  height: 2px;
  width: 100%;
  background: #fff; }

.text-small {
  font-size: 1.1em; }

.small-title {
  font-size: 1.9em;
  color: #fff;
  text-shadow: 1px 1px 1px #555;
  padding: 0px;
  margin-bottom: 10px; }

h1.page-title {
  color: #fff;
  text-shadow: 1px 1px 1px #555;
  text-align: center; }

h1.page-b-title {
  font-size: 2.5em;
  color: black;
  text-align: left;
  padding: 0px;
  margin-left: 0px; }

/* Start page */
.welcome .main-column {
  padding: 30px 40px 30px 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media (min-width: 768px) {
    .welcome .main-column {
      padding: 30px 60px 30px 60px; } }
  @media (min-width: 1200px) {
    .welcome .main-column {
      padding: 30px 120px 30px 120px; } }
  .welcome .main-column a {
    margin-top: 30px;
    text-decoration: none; }
    @media (min-width: 768px) {
      .welcome .main-column a {
        margin-top: 50px; } }
  .welcome .main-column .content {
    padding-bottom: 20px; }
    .welcome .main-column .content p {
      margin-bottom: 30px; }
    .welcome .main-column .content a#about-us-button {
      margin-bottom: 100px;
      margin-top: 20px; }

@media (min-width: 768px) {
  .welcome {
    padding: 0px; } }

@media (min-width: 1200px) {
  .welcome {
    padding: 0px; } }

/* Book meeting */
a#show-form {
  width: 100%;
  margin: 0px auto; }

.book-meeting-link {
  font-size: 1.5em;
  margin-top: 20px;
  text-align: center;
  color: #fff;
  font-weight: 700;
  text-shadow: 1px 1px 1px #555;
  font-weight: 700;
  transition-property: all;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .book-meeting-link:hover {
    -moz-transform: scale(1.055);
    -o-transform: scale(1.055);
    -ms-transform: scale(1.055);
    -webkit-transform: scale(1.055);
    transform: scale(1.055); }
  .book-meeting-link:hover {
    text-decoration: none;
    color: #fff;
    transition-property: all;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
  @media (min-width: 768px) {
    .book-meeting-link {
      font-size: 2em; } }

.icon-border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin: 0px auto;
  width: 30vw;
  height: 30vw;
  background: white;
  max-width: 120px;
  max-height: 120px; }
  .icon-border i {
    color: #84b1b6;
    font-size: 5em; }
  @media (min-width: 500px) {
    .icon-border {
      max-width: 120px;
      max-height: 120px; } }
  @media (min-width: 768px) {
    .icon-border {
      max-width: 170px;
      max-height: 170px; }
      .icon-border i {
        font-size: 6em; } }
  @media (min-width: 1200px) {
    .icon-border {
      max-width: 190px;
      max-height: 190px; }
      .icon-border i {
        font-size: 7em; } }

.image-border {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  width: 250px;
  height: 250px;
  border: 5px solid white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .image-border i {
    color: #84b1b6;
    font-size: 5em; }
  @media (min-width: 768px) {
    .image-border {
      width: 30vw;
      height: 30vw;
      max-width: 200px;
      max-height: 200px; } }

/* Book meeting collapse */
/* Flex slider */
.flexslider {
  margin: 0px;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: none;
  height: 100%;
  max-height: 450px;
  background: #eee; }
  .flexslider .table-cell {
    padding-bottom: 80px;
    margin-top: 40px; }
    @media (min-width: 695px) {
      .flexslider .table-cell {
        padding-bottom: 40px; } }
  .flexslider li {
    position: relative; }
    .flexslider li hgroup h1 {
      margin-bottom: 20px;
      margin-top: 20px; }
  @media (min-width: 768px) {
    .flexslider {
      max-height: 500px; } }
  @media (min-width: 1200px) {
    .flexslider {
      max-height: 550px; } }

img#slider-icon {
  max-width: 70px;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: -30px; }
  @media (min-width: 768px) {
    img#slider-icon {
      margin-bottom: -40px;
      max-width: 85px;
      margin-left: 30px;
      margin-right: 30px; } }
  @media (min-width: 992px) {
    img#slider-icon {
      max-width: 100px; } }

.header-border {
  display: inline-block;
  width: 30%;
  max-width: 150px; }

/* Flex slider collapse */
/* Start page collapse */
/* Page B */
.page-b .content {
  padding-top: 20px; }
  .page-b .content p {
    margin-bottom: 20px; }

/* Contact */
.contact-content {
  padding: 30px; }
  .contact-content h3 {
    font-size: 1.5em; }
  .contact-content ul.contact-info {
    padding: 0px; }
    .contact-content ul.contact-info li {
      margin-top: 20px;
      margin-bottom: 20px; }
      .contact-content ul.contact-info li p {
        font-size: 1em; }
      .contact-content ul.contact-info li label {
        font-weight: 700; }
      .contact-content ul.contact-info li a {
        color: black;
        font-weight: 700;
        transition-property: all;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        font-weight: 400; }
        .contact-content ul.contact-info li a:hover {
          -moz-transform: scale(1.055);
          -o-transform: scale(1.055);
          -ms-transform: scale(1.055);
          -webkit-transform: scale(1.055);
          transform: scale(1.055); }
        .contact-content ul.contact-info li a:hover {
          text-decoration: none;
          color: #84b1b6;
          transition-property: all;
          -webkit-transition: all 0.2s ease-in-out;
          -moz-transition: all 0.2s ease-in-out;
          -ms-transition: all 0.2s ease-in-out;
          -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out; }

/* Co-workers */
.container-coworkers {
  padding: 0px 0px 60px 0px; }
  .container-coworkers h2 {
    padding: 20px; }
  .container-coworkers .card {
    border-top: 10px solid #84b1b6;
    margin: 20px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
    .container-coworkers .card .profile-info-wrapper {
      text-align: center;
      padding: 15px;
      line-height: 1.3; }
      .container-coworkers .card .profile-info-wrapper p {
        font-size: 1em; }
    .container-coworkers .card h4 {
      font-size: 1.2em; }
    .container-coworkers .card hr {
      border-color: #cbcbcb;
      border-style: solid;
      margin: 0px;
      border-width: 0.5px; }
    .container-coworkers .card a {
      color: black;
      font-weight: 700;
      transition-property: all;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
      .container-coworkers .card a:hover {
        -moz-transform: scale(1.055);
        -o-transform: scale(1.055);
        -ms-transform: scale(1.055);
        -webkit-transform: scale(1.055);
        transform: scale(1.055); }
      .container-coworkers .card a:hover {
        text-decoration: none;
        color: #84b1b6;
        transition-property: all;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out; }
  @media (min-width: 768px) {
    .container-coworkers {
      padding-top: 40px; } }

.contact-wrapper {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  text-align: center; }
  .contact-wrapper p {
    text-align: center; }
  .contact-wrapper a {
    color: black;
    font-weight: 700;
    transition-property: all;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    .contact-wrapper a:hover {
      -moz-transform: scale(1.055);
      -o-transform: scale(1.055);
      -ms-transform: scale(1.055);
      -webkit-transform: scale(1.055);
      transform: scale(1.055); }
    .contact-wrapper a:hover {
      text-decoration: none;
      color: #84b1b6;
      transition-property: all;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }

.contact-column {
  max-height: 400px;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

/* Sitemap */
.sitemap-wrapper {
  border-bottom: 1px solid black; }
  .sitemap-wrapper li {
    margin: auto;
    margin-bottom: 5px; }
    .sitemap-wrapper li a {
      display: inline-block;
      color: #000;
      font-weight: 700;
      transition-property: all;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
      .sitemap-wrapper li a:hover {
        -moz-transform: scale(1.055);
        -o-transform: scale(1.055);
        -ms-transform: scale(1.055);
        -webkit-transform: scale(1.055);
        transform: scale(1.055); }
      .sitemap-wrapper li a:hover {
        text-decoration: none;
        color: #84b1b6;
        transition-property: all;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out; }
  @media (min-width: 640px) {
    .sitemap-wrapper ul.sitemap-list {
      margin: auto;
      margin-top: 20px;
      margin-bottom: 20px; } }

.flex-direction-nav {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -30px; }

ol.flex-control-nav {
  bottom: 55px; }
  ol.flex-control-nav a.flex-active {
    color: #84b1b6; }
  @media (min-width: 695px) {
    ol.flex-control-nav {
      bottom: 45px; } }
  @media (min-width: 768px) {
    ol.flex-control-nav {
      bottom: 50px; } }
  @media (min-width: 1200px) {
    ol.flex-control-nav {
      bottom: 75px; } }

.page-banner {
  height: 100%;
  max-height: 300px; }
  .page-banner .table-cell {
    padding-bottom: 0px; }
  @media (min-width: 640px) {
    .page-banner {
      margin-top: 40px; } }
  @media (min-width: 768px) {
    .page-banner {
      max-height: 400px; } }

.table {
  display: table;
  width: 100%;
  height: 100%; }
  .table .table-cell {
    display: table-cell;
    vertical-align: middle; }

.services {
  padding: 30px 40px 30px 40px; }
  @media (min-width: 768px) {
    .services {
      padding: 30px 60px 30px 60px; } }
  @media (min-width: 1200px) {
    .services {
      padding: 30px 120px 30px 120px; } }
  .services .columns .inner {
    text-align: center; }
    .services .columns .inner .image-border {
      margin: 0px auto; }
  .services .columns .text-container {
    padding: 30px 20px;
    position: relative; }
    .services .columns .text-container p {
      text-align: center;
      max-width: 400px; }
    .services .columns .text-container h4 {
      text-align: center;
      font-size: 20px;
      margin-bottom: 20px; }
    .services .columns .text-container a {
      display: inline-block;
      color: #000;
      margin-top: 20px;
      font-weight: 700;
      transition-property: all;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
      .services .columns .text-container a:hover {
        -moz-transform: scale(1.055);
        -o-transform: scale(1.055);
        -ms-transform: scale(1.055);
        -webkit-transform: scale(1.055);
        transform: scale(1.055); }
      .services .columns .text-container a:hover {
        text-decoration: none;
        color: #84b1b6;
        transition-property: all;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out; }

.services2 {
  padding: 30px 40px 30px 40px; }
  @media (min-width: 768px) {
    .services2 {
      padding: 30px 60px 30px 60px; } }
  @media (min-width: 1200px) {
    .services2 {
      padding: 30px 120px 30px 120px; } }
  .services2 .service-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media (max-width: 768px) {
      .services2 .service-links {
        margin-top: 30px; } }
    .services2 .service-links a {
      color: black;
      display: block;
      font-weight: 700;
      transition-property: all;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
      .services2 .service-links a:hover {
        -moz-transform: scale(1.055);
        -o-transform: scale(1.055);
        -ms-transform: scale(1.055);
        -webkit-transform: scale(1.055);
        transform: scale(1.055); }
      .services2 .service-links a:hover {
        text-decoration: none;
        color: #84b1b6;
        transition-property: all;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out; }
      .services2 .service-links a i {
        font-size: 1.2em; }
  @media (min-width: 768px) {
    .services2 .service-links {
      padding: 20px 20px 30px 60px;
      border-left: 1px solid black; }
    .services2 .service-list {
      padding: 0px 60px; } }
  @media (min-width: 1200px) {
    .services2 .service-links {
      padding: 20px 120px; }
    .services2 .service-list {
      padding: 0px 120px; } }

.punchline {
  padding: 150px 0; }
  .punchline h2 {
    margin: 0;
    margin-left: 10%;
    margin-right: 10%;
    color: #fff;
    font-size: 40px;
    font-weight: 500;
    line-height: 130%; }

.bg-pale-blue {
  background: #dce3ed; }

.partners, .clients {
  padding: 30px 40px 30px 40px; }
  @media (min-width: 768px) {
    .partners, .clients {
      padding: 30px 60px 30px 60px; } }
  @media (min-width: 1200px) {
    .partners, .clients {
      padding: 30px 120px 30px 120px; } }
  .partners .partner-container, .partners .client-container, .clients .partner-container, .clients .client-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    @media (min-width: 550px) {
      .partners .partner-container, .partners .client-container, .clients .partner-container, .clients .client-container {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }
    .partners .partner-container .client-wrapper, .partners .client-container .client-wrapper, .clients .partner-container .client-wrapper, .clients .client-container .client-wrapper {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      @media (min-width: 550px) {
        .partners .partner-container .client-wrapper, .partners .client-container .client-wrapper, .clients .partner-container .client-wrapper, .clients .client-container .client-wrapper {
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          -ms-flex-preferred-size: 50%;
          flex-basis: 50%; } }
      @media (min-width: 768px) {
        .partners .partner-container .client-wrapper, .partners .client-container .client-wrapper, .clients .partner-container .client-wrapper, .clients .client-container .client-wrapper {
          -ms-flex-preferred-size: 25%;
          flex-basis: 25%; } }
      .partners .partner-container .client-wrapper img, .partners .client-container .client-wrapper img, .clients .partner-container .client-wrapper img, .clients .client-container .client-wrapper img {
        margin: 0px auto;
        max-width: 150px;
        max-height: 80px; }
      .partners .partner-container .client-wrapper img.partner-logo, .partners .client-container .client-wrapper img.partner-logo, .clients .partner-container .client-wrapper img.partner-logo, .clients .client-container .client-wrapper img.partner-logo {
        max-height: 120px; }
      .partners .partner-container .client-wrapper img.client-logo, .partners .client-container .client-wrapper img.client-logo, .clients .partner-container .client-wrapper img.client-logo, .clients .client-container .client-wrapper img.client-logo {
        padding-top: 15px;
        padding-bottom: 15px; }

.news {
  background: #84b1b6;
  padding: 80px 0;
  text-align: center; }
  .news h2 {
    color: #fff; }
  .news .post a {
    padding: 20px;
    display: block;
    width: 100%;
    color: #000;
    background: #fff;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
    transition-property: all;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    .news .post a * {
      margin-bottom: 20px; }
    .news .post a h4 {
      font-size: 20px;
      margin-bottom: 10px; }
    .news .post a .date {
      font-size: 14px; }
      .news .post a .date span {
        font-style: italic; }
  .news .show-all {
    display: inline-block;
    margin-top: 80px;
    height: 60px;
    padding: 0 40px;
    line-height: 60px;
    background: #fff;
    color: #000;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
    font-size: 20px;
    font-weight: 300; }

.news-container .post {
  margin-bottom: 40px; }

.single-post {
  padding-top: 80px;
  padding-bottom: 80px; }
  .single-post h3 {
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center; }
  .single-post img {
    display: block;
    width: auto;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 15px; }
  .single-post p {
    margin-bottom: 15px; }
  .single-post .date {
    color: #84b1b6;
    margin-bottom: 20px;
    text-align: center; }

.contact-info {
  margin-top: 40px;
  margin-bottom: 20px; }
  .contact-info form {
    width: 100%; }
    .contact-info form p {
      overflow: hidden; }
    .contact-info form input {
      -webkit-border-radius: 3px;
      border-radius: 3px;
      background-clip: padding-box;
      /* stops bg color from leaking outside the border: */
      display: block;
      width: 100%;
      margin-bottom: 20px;
      padding: 0 20px;
      height: 50px;
      line-height: 50px;
      background: #fff;
      overflow: hidden;
      border: 1px solid #ccc;
      font-size: 16px;
      color: #000;
      font-weight: 300; }
    .contact-info form textarea {
      min-height: 150px;
      width: 100%;
      min-width: 100%;
      background: #fff;
      padding: 15px 20px;
      border: 1px solid #ccc;
      margin-bottom: 20px;
      font-size: 16px;
      color: #000;
      font-weight: 300;
      resize: none; }
    .contact-info form input:focus, .contact-info form textarea:focus {
      border: 1px solid #84b1b6;
      outline: none; }
    .contact-info form ::-webkit-input-placeholder {
      font-family: 'Roboto Slab', serif;
      font-size: 16px;
      color: #000;
      font-weight: 400; }
    .contact-info form :-moz-placeholder {
      font-family: 'Roboto Slab', serif;
      font-size: 16px;
      color: #000;
      font-weight: 400; }
    .contact-info form ::-moz-placeholder {
      font-family: 'Roboto Slab', serif;
      font-size: 16px;
      color: #000;
      font-weight: 400; }
    .contact-info form :-ms-input-placeholder {
      font-family: 'Roboto Slab', serif;
      font-size: 16px;
      color: #000;
      font-weight: 400; }
    .contact-info form input[type=submit] {
      -webkit-border-radius: 3px;
      border-radius: 3px;
      background-clip: padding-box;
      /* stops bg color from leaking outside the border: */
      width: 150px;
      display: inline-block;
      background: #84b1b6;
      color: #fff;
      border: 0;
      font-size: 16px;
      font-family: 'Roboto Slab', serif;
      margin: 0;
      font-weight: 300; }
  .contact-info .columns:last-child h4 {
    margin-bottom: 5px;
    margin-top: 20px; }
  .contact-info .columns:last-child h4:first-child {
    margin-top: 0; }

.page-content {
  padding: 30px 40px 30px 40px; }
  @media (min-width: 768px) {
    .page-content {
      padding: 30px 60px 30px 60px; } }
  @media (min-width: 1200px) {
    .page-content {
      padding: 30px 120px 30px 120px; } }
  .page-content h2, .page-content h3, .page-content h4 {
    text-align: center !important; }
  .page-content .container {
    padding: 80px 0; }
    .page-content .container .columns {
      text-align: center; }
    .page-content .container h2 {
      margin-bottom: 0; }
    .page-content .container p {
      margin-top: 40px; }
    .page-content .container ul {
      padding-left: 15px; }
      .page-content .container ul li {
        display: block;
        font-weight: 300;
        margin-top: 20px;
        font-size: 18px; }
        .page-content .container ul li:before {
          color: #84b1b6;
          content: '\f126';
          font-family: "foundation-icons";
          margin-right: 10px; }
    .page-content .container ul:last-child {
      margin: 15px 0 0 0; }

.about h2, .about h3, .about h4, .about p {
  text-align: left !important; }

.about .container {
  padding: 80px 0; }

.about .post-container {
  width: 100%;
  overflow: hidden;
  position: relative; }

.about .bg {
  position: absolute;
  left: 60%;
  top: 0;
  height: 100%;
  width: 40%; }

.about .text-container {
  width: 58%; }

.about .post-container:nth-child(odd) {
  background: #dce3ed; }
  .about .post-container:nth-child(odd) .bg {
    left: 0; }
  .about .post-container:nth-child(odd) .text-container {
    float: right; }

.form-container {
  display: none;
  position: fixed;
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100; }
  .form-container .inner {
    position: relative;
    width: 60%;
    margin: 0 auto; }
    .form-container .inner a {
      position: absolute;
      right: -25px;
      top: -25px;
      display: block;
      color: #fff;
      font-size: 30px;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      background-clip: padding-box;
      /* stops bg color from leaking outside the border: */
      height: 50px;
      width: 50px;
      background: #84b1b6;
      z-index: 2;
      line-height: 54px;
      text-align: center; }
  .form-container form {
    width: 100%;
    background: #fff;
    padding: 20px;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); }
    .form-container form p {
      overflow: hidden; }
    .form-container form input {
      display: block;
      width: 100%;
      margin-bottom: 20px;
      padding: 0 20px;
      height: 50px;
      line-height: 50px;
      background: #fff;
      overflow: hidden;
      border: 1px solid #ccc;
      font-size: 16px;
      color: #000;
      font-weight: 300; }
    .form-container form input[type=submit] {
      -webkit-border-radius: 3px;
      border-radius: 3px;
      background-clip: padding-box;
      /* stops bg color from leaking outside the border: */ }
    .form-container form textarea {
      min-height: 150px;
      width: 100%;
      min-width: 100%;
      background: #fff;
      padding: 15px 20px;
      border: 1px solid #ccc;
      margin-bottom: 20px;
      font-size: 16px;
      color: #000;
      font-weight: 300;
      resize: none; }
    .form-container form input:focus, .form-container form textarea:focus {
      border: 1px solid #84b1b6;
      outline: none; }
    .form-container form ::-webkit-input-placeholder {
      font-family: 'Roboto Slab', serif;
      font-size: 16px;
      color: #000;
      font-weight: 300; }
    .form-container form :-moz-placeholder {
      font-family: 'Roboto Slab', serif;
      font-size: 16px;
      color: #000;
      font-weight: 300; }
    .form-container form ::-moz-placeholder {
      font-family: 'Roboto Slab', serif;
      font-size: 16px;
      color: #000;
      font-weight: 300; }
    .form-container form :-ms-input-placeholder {
      font-family: 'Roboto Slab', serif;
      font-size: 16px;
      color: #000;
      font-weight: 300; }
    .form-container form input[type=submit] {
      width: 150px;
      display: inline-block;
      background: #84b1b6;
      color: #fff;
      border: 0;
      font-size: 16px;
      font-family: 'Roboto Slab', serif;
      margin: 0;
      font-weight: 300;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      background-clip: padding-box;
      /* stops bg color from leaking outside the border: */ }

.news-links {
  overflow: hidden;
  background: #dce3ed; }
  .news-links a {
    text-decoration: none;
    color: black;
    display: block;
    float: left;
    width: 50%;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-weight: 700;
    transition-property: all;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    .news-links a:hover {
      -moz-transform: scale(1.055);
      -o-transform: scale(1.055);
      -ms-transform: scale(1.055);
      -webkit-transform: scale(1.055);
      transform: scale(1.055); }
    .news-links a:hover {
      text-decoration: none;
      color: #84b1b6;
      transition-property: all;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
  .news-links a:first-child {
    border-top-right-radius: 30px; }
  .news-links a:last-child {
    border-top-left-radius: 30px; }

.contact-persons {
  background: #f1faff;
  padding: 80px 0 40px 0; }
  .contact-persons .columns {
    padding: 40px 0; }
  .contact-persons img {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
    width: 70%;
    margin: 0 auto;
    display: block; }
  .contact-persons h2 {
    margin-bottom: 40px; }
  .contact-persons p {
    text-align: center; }
    .contact-persons p span {
      display: block; }
    .contact-persons p .name {
      font-weight: 500;
      padding: 10px 0 5px 0; }
    .contact-persons p .title {
      font-style: italic; }
      .contact-persons p .title:after {
        display: block;
        height: 2px;
        background: #84b1b6;
        width: 40px;
        content: '';
        margin: 0 auto;
        margin-top: 5px;
        margin-bottom: 5px; }

.news-links {
  background: #fff; }
  .news-links a {
    background: #f1faff; }
    .news-links a:hover {
      background: #dce3ed; }

.white {
  background: #fff; }

.lightblue {
  background: #dce3ed; }

.qualitygoals {
  margin-top: 80px; }

.under-service {
  text-align: left; }
  .under-service:before {
    content: '\f126';
    font-family: "foundation-icons";
    margin-right: 10px; }

.welcome-wrapper {
  overflow: hidden; }

@media all and (max-width: 640px) {
  .services .columns {
    margin-bottom: 40px; }
  .services .columns:last-child {
    margin-bottom: 0; }
  .punchline {
    padding: 80px 0; }
    .punchline h2 {
      font-size: 30px; }
  .news .post {
    margin-bottom: 40px; }
    .news .post a img {
      margin: 0 auto;
      margin-bottom: 20px; }
  .contact-info form {
    margin-bottom: 40px; }
  .form-container .inner {
    width: 80%; }
    .form-container .inner form input {
      height: 40px;
      line-height: 40px;
      margin-bottom: 10px;
      padding: 0 10px;
      font-size: 14px; }
    .form-container .inner form textarea {
      height: 100px;
      padding: 10px;
      margin-bottom: 10px;
      font-size: 14px; }
    .form-container .inner form ::-webkit-input-placeholder {
      font-size: 14px; }
    .form-container .inner form :-moz-placeholder {
      font-size: 14px; }
    .form-container .inner form ::-moz-placeholder {
      font-size: 14px; }
    .form-container .inner form :-ms-input-placeholder {
      font-size: 14px; }
  .news-links a {
    width: 100%; }
  .news-links a:first-child {
    border-top-right-radius: 0px; }
  .news-links a:last-child {
    border-top-left-radius: 0px; } }

@media all and (max-width: 400px) {
  .flex-control-nav {
    bottom: 20px; } }

@media all and (min-width: 1025px) {
  .news .post a:hover {
    -moz-transform: scale(1.025);
    -o-transform: scale(1.025);
    -ms-transform: scale(1.025);
    -webkit-transform: scale(1.025);
    transform: scale(1.025);
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); } }

footer {
  background: #9aadb3;
  -webkit-box-shadow: inset 0 10px 45px -25px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 10px 45px -25px rgba(0, 0, 0, 0.5);
  line-height: 20px;
  padding: 0px 0px 0px 0px; }
  footer p {
    text-align: left;
    font-size: 1em;
    letter-spacing: 1px; }
  footer a#to-top {
    font-size: 1.1em;
    color: black; }
    footer a#to-top:hover {
      transition-property: all;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
      footer a#to-top:hover:hover {
        -moz-transform: scale(1.055);
        -o-transform: scale(1.055);
        -ms-transform: scale(1.055);
        -webkit-transform: scale(1.055);
        transform: scale(1.055); }
  footer .copyright {
    color: white;
    padding: 10px 80px 10px 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    footer .copyright i {
      font-size: 1.5em; }
      footer .copyright i:hover {
        transition-property: all;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out; }
        footer .copyright i:hover:hover {
          -moz-transform: scale(1.055);
          -o-transform: scale(1.055);
          -ms-transform: scale(1.055);
          -webkit-transform: scale(1.055);
          transform: scale(1.055); }
  footer .container-footer {
    margin: 0px auto; }
  footer ul {
    padding: 0px; }
    footer ul li {
      line-height: 25px; }
      footer ul li a.footer-link {
        color: white;
        letter-spacing: 1px;
        cursor: pointer;
        font-size: 0.9em;
        font-weight: 400; }
        footer ul li a.footer-link:hover {
          text-decoration: none;
          color: black;
          transition-property: color;
          -webkit-transition: color 0.2s ease-in-out;
          -moz-transition: color 0.2s ease-in-out;
          -ms-transition: color 0.2s ease-in-out;
          -o-transition: color 0.2s ease-in-out;
          transition: color 0.2s ease-in-out; }
  footer .container-logo {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    footer .container-logo .wrapper-logo {
      text-align: center;
      -ms-flex-preferred-size: 33%;
      flex-basis: 33%; }
      footer .container-logo .wrapper-logo img {
        max-width: 80px; }
      @media (min-width: 640px) {
        footer .container-logo .wrapper-logo img {
          max-width: 100px; } }
    @media (min-width: 1200px) {
      footer .container-logo {
        border-top: none;
        border-bottom: none; } }
  footer .wpcf7-response-output {
    display: none !important; }
  footer #wpcf7-f632-o2 form label {
    color: white; }
  footer #wpcf7-f632-o2 form input {
    margin-top: 10px;
    font-family: 'Roboto Slab', serif;
    font-size: 1em; }
  footer #wpcf7-f632-o2 form input[type=email] {
    padding: 10px;
    width: 50%;
    border-style: none;
    border-style: solid;
    border-color: white;
    background: transparent;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }
    footer #wpcf7-f632-o2 form input[type=email]:active, footer #wpcf7-f632-o2 form input[type=email]:focus, footer #wpcf7-f632-o2 form input[type=email]:enabled {
      background: transparent; }
    @media (min-width: 1200px) {
      footer #wpcf7-f632-o2 form input[type=email] {
        width: 100%; } }
  footer #wpcf7-f632-o2 form input[type=submit] {
    cursor: pointer;
    background: #84b1b6;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 12px 50px 12px 50px;
    color: white;
    background: black;
    border-style: none; }
    footer #wpcf7-f632-o2 form input[type=submit] a {
      text-decoration: none; }
    footer #wpcf7-f632-o2 form input[type=submit]:hover {
      transition-property: all;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      background: #dce3ed;
      transition-property: background;
      -webkit-transition: background 0.2s ease-in-out;
      -moz-transition: background 0.2s ease-in-out;
      -ms-transition: background 0.2s ease-in-out;
      -o-transition: background 0.2s ease-in-out;
      transition: background 0.2s ease-in-out;
      color: #84b1b6;
      transition-property: color;
      -webkit-transition: color 0.2s ease-in-out;
      -moz-transition: color 0.2s ease-in-out;
      -ms-transition: color 0.2s ease-in-out;
      -o-transition: color 0.2s ease-in-out;
      transition: color 0.2s ease-in-out; }
      footer #wpcf7-f632-o2 form input[type=submit]:hover:hover {
        -moz-transform: scale(1.055);
        -o-transform: scale(1.055);
        -ms-transform: scale(1.055);
        -webkit-transform: scale(1.055);
        transform: scale(1.055); }
      footer #wpcf7-f632-o2 form input[type=submit]:hover a {
        text-decoration: none; }
  footer .footer-column {
    padding: 30px 40px 30px 40px; }
    @media (min-width: 768px) {
      footer .footer-column {
        padding: 30px 60px 30px 60px; } }
    @media (min-width: 1200px) {
      footer .footer-column {
        padding: 30px 120px 30px 120px; } }
    @media (min-width: 1200px) {
      footer .footer-column {
        padding: 30px; } }
  footer .footer-sub-column {
    margin-bottom: 10px;
    margin-top: 10px; }
